#profilepage{
    margin:20px;
    width:calc(100% - 40px);
    display:flex;
    align-items: flex-start;
    justify-content: center;
    @media (max-width:720px) {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }
    position: relative;
    // min-height:50vh;
    // max-width:100%;
    // min-width:600px
}
.profilePageMenu{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    z-index: 3;
    position: sticky;
    top:80px;
    @media (max-width:720px) {
        position: static;
        // box-shadow: 0px 3px 10px -5px var(--dark10);
    }
    // box-shadow: 2px 0 10px -5px var(--dark10);
    // border-inline-end:1px solid var(--dark10)
}
.profilePageElem{
    // background-color: var(--dark5);
    padding:10px 20px;
    color:var(--bgtxt);
    text-decoration: none;
    border-inline-end:3px solid var(--dark5);
}
.profilePageElem:hover{
    background-color: var(--dark5);
    color:var(--bgtxt);
    text-decoration: none;
    border-inline-end:3px solid transparent;
}
.profilePageElem_show{
    background-color: var(--dark5);
    border-inline-end:3px solid var(--dark10);
}
.profilePageElem_show:hover{
    background-color: var(--dark5);
    border-inline-end:3px solid var(--dark10);
}
.profilePageBody{

    z-index: 1;
    padding-top:50px;
    max-width:100%;
    width:600px;
    // min-width:600px
}
