
div.form-control{

    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 1em;

    
}
div.form-validation{
    display: flex;
    justify-content: center;
    align-items:center;
    
}