.inputList{
    cursor: pointer;
}

.list{
    
    position: absolute;
    background-color: $bg-dark;
    max-height: 12em;
    overflow-y:auto;
    overflow-x:hidden;
    text-align: left;
    vertical-align: middle;
    border: .2em solid $color-dark; 
    border-radius: .3em;
    z-index: 10;
    display: none;
    width: 15em;
    // padding:.3em;
}
.listItem{
    padding:.2em 0 .2em 0;
    cursor: pointer;
    // border-radius: .3em;
    padding:.5em;
    width: 100%;
    // border-bottom: .05em solid $color-dark;

}
.listItem:hover{
    background-color: $color-light;
}
.listItemSelected{
    background-color: $color-light;
}
.listItemNotSelected{
    background-color: $bg-light;
}
