.mobileNavSearchContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    position: relative;
}
.mobileNavSearchResultsContainer{
    background-color: var(--white-1);
    z-index: 1;
    transition-duration: 300ms;
    opacity: 1;
    height: 100%;
    width:100%;
    border-bottom:1px dashed var(--white-5);
    max-height:2000px;
}
.mobileNavSearchResults{
    overflow-y: auto;
    padding:5px;
    width:calc(100% - 10px);
    height:calc(100% - 45px);
    overscroll-behavior:contain;
}
.mobileNavSearchResultsContainer_hidden{
    opacity: .5;
    box-shadow: none;
    height:0px;
    overflow: hidden;
}
.mobileNavSearch{
    outline:none;
    height:25px;
    border:none;
    width:100%;
    padding:5px 0;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    color:var(--txt-1);
    z-index: 5;
}
.mobileNavSearch::placeholder{color:var(--white-10)}
.mobileNavSearchLeft{
    height:25px;
    width:25px;
    padding:5px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-1);
    z-index: 5;
}
.mobileNavSearchRight{
    height:25px;
    padding:5px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-1);
    z-index: 5;
}

///
.mobileNavOpenSearchBtn{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size:1.1em;
    cursor: pointer;
}
.mobileNavCloseSearchBtn{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size:1.1em;
    cursor: pointer;
}
