// <span text="tiptool text"class="tiptool-bottom">Hover over me!</span>   


///////////////////////////////////tiptool bottom//////////////////////////
.tiptool-bottom{
    position: relative;
    cursor: pointer;
}
.tiptool-bottom::before{
    content: attr(text);
    position: absolute;
    text-align: center;

    top:100%;
    left:50%;
    transform:translateX(-50%);
    margin-top: .5em;
    width: auto;
    height: auto;

    background-color: $color-dark;
    color:$text-light;
    font-size: .8em;
    border-radius: .3em;
    padding:.5em;

    display: none;
    opacity:0;
    transition:1s opacity;   

}

.tiptool-bottom:hover::before { 
    display: block;
    opacity:.9;
    transition: 1s opacity;
    color:$text-light;

}

///////////////////////tiptool top///////////////////
.tiptool-top{
    position: relative;
    cursor: pointer;
}
.tiptool-top::before{
    content: attr(text);
    position: absolute;
    text-align: center;

    bottom:100%;
    left:50%;
    transform:translateX(-50%);
    margin-bottom: .5em;
    width: auto;
    height: auto;
    
    background-color: $color-dark;
    color:$text-light;
    font-size: .8em;
    border-radius: .3em;
    padding:.5em;

    display: none;
    opacity:0;
    transition:1s opacity;   

}
.tiptool-top:hover::before { 
    display: block;
    opacity:.9;
    transition: 1s opacity;

}
.tiptool-top:focus { 
    display: block;
    opacity:.9;
    transition: 1s opacity;

}
///////////////////////tiptool right///////////////////
.tiptool-right{
    position: relative;
    cursor: pointer;
    z-index: 30;
}
.tiptool-right::before{
    content: attr(text);
    position: absolute;
    text-align: center;

    top:0;
    left:105%;
    transform:translateY(-30%);
    margin-top: .5em;
    width: auto;
    height: auto;
    
    background-color: $color-dark;
    color:$text-light;
    font-size: .8em;
    border-radius: .3em;
    padding:.5em;

    display: none;
    opacity:0;
    transition:1s opacity;   

}
.tiptool-right:hover::before { 
    display: block;
    opacity:.9;
    transition: 1s opacity;

}
///////////////////////tiptool left///////////////////
.tiptool-left{
    position: relative;
    cursor: pointer;
}
.tiptool-left::before{
    content: attr(text);
    position: absolute;
    text-align: center;

    top:0;
    right:105%;
    transform:translateY(-30%);
    margin-top: .5em;
    width: auto;
    height: auto;
    
    
    background-color: $color-dark;
    color:$text-light;
    font-size: .8em;
    border-radius: .3em;
    padding:.5em;

    display: none;
    opacity:0;
    transition:1s opacity;   

}
.tiptool-left:hover::before { 
    display: block;
    opacity:.9;
    transition: 1s opacity;

}



