#alertsContainer{
    position: fixed;
    bottom:40px;
    left:60px;
    z-index: 200;
    pointer-events: none;
    @media (max-width:720px) {
        left:10px;
    }
}
.alertContainer{
    pointer-events: all;
    position: relative;
    z-index: 201;
    @media (min-width:720px) {
        max-width:350px;
    }
    width:fit-content;
    max-width:600px;
    padding:0;
    margin:10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-radius: 10px;
    background-color: var(--white-2);
    color:var(--txt);
    box-shadow: 0 0 2px 0px var(--shdw-5), 0 0 2px 1px var(--shdw-5);
    overflow: hidden;
}
.alertIcon_normal{
    color:var(--green);
    font-size: 2.2em;
    transition-duration: 0;
    padding:15px 10px;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    align-self:flex-start;
}
.alertIcon_error{
    color:var(--red);
    font-size: 2.2em;
    transition-duration: 0;
    padding:15px 10px;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    align-self:flex-start;
}
.alertIcon_success{
    color:var(--green);
    font-size: 2.2em;
    transition-duration: 0;
    padding:15px 10px;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    align-self:flex-start;
}
.alertIcon_warning{
    color:var(--orange);
    font-size: 2.2em;
    transition-duration: 0;
    padding:15px 10px;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    align-self:flex-start;
}
.alert_text{
    text-align: start;
    direction: ltr;
    padding:15px 5px;
    flex-grow: 2;
    font-size:.9em;
}

.closeAlert{
    font-size:.9em;
    padding:5px;
    margin:5px;
    margin-inline-end: 2.5px;
    border-radius: 50%;
    align-self:flex-start;
    flex-shrink: 0;
    cursor: pointer;
    background-color: var(--white-2);
}
.closeAlert:hover{
    background-color: var(--white-3);
}
/////////////
