
*::-webkit-scrollbar {
    width: 6px;
    height:6px;

}

*::-webkit-scrollbar-track {
    background:var(--white-2);
    border-radius:100px;

  }
*::-webkit-scrollbar-thumb {
  background-color:var(--green);
  border-radius:100px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:var(--green-80);
}


  *::-moz-scrollbar {
    width: 6px;
    height:6px;
}

*::-moz-scrollbar-track {
    background:var(--white-2);
    border-radius:100px;

  }
*::-moz-scrollbar-thumb {
    background-color:var(--green);
    border-radius:100px;
}
::-moz-scrollbar-thumb:hover {
    background-color:var(--green-80);
  }

