src/.vscode/
src/node_modules/
src/error.log
src/composerCopy.json
src/php
src/README.md
src/public/build
src/public/css
src/public/js
src/public/storage
src/vendor/
src/storage/debugbar/
src/storage/framework/
src/storage/logs/
src/storage/storage/
src/storage/app/public/imgs/accounts
src/storage/app/public/ragy
src/.env
mysql
mongodb
.DS_Store
.idea
docker-compose.yml
Dockerfiles/nginx/foodmenu.key
Dockerfiles/nginx/foodmenu.pem
