
@font-face {
    font-family: 'Nunito';
    src: url('/storage/fonts/en/Nunito.ttf') format("truetype");
}
@font-face {
    font-family: 'inter';
    src: url('/storage/fonts/en/inter.ttf') format("truetype");
}
@import '../page_loading.scss';
@import '../cpanel/tools/icons';
@import '../cpanel/tools/loading';
@import '../cpanel/tools/scrollBar';
@import '../cpanel/form/button.scss';
@import '../cpanel/form/checkbox.scss';
*{-webkit-tap-highlight-color: transparent;}
html{
    height: 100%;
    width:100%;background-color: var(--white-1);
    background-image: linear-gradient(161deg, rgba(75, 75, 75,0.03) 0%, rgba(75, 75, 75,0.03) 27%,rgba(85, 85, 85,0.03) 27%, rgba(85, 85, 85,0.03) 32%,rgba(174, 174, 174,0.03) 32%, rgba(174, 174, 174,0.03) 100%),linear-gradient(320deg, rgba(138, 138, 138,0.03) 0%, rgba(138, 138, 138,0.03) 55%,rgba(234, 234, 234,0.03) 55%, rgba(234, 234, 234,0.03) 66%,rgba(197, 197, 197,0.03) 66%, rgba(197, 197, 197,0.03) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}
body{
    user-select: none;
    background-color: #ffffff38;
    color:var(--txt-1);
    font-family: 'Nunito', sans-serif;
    margin: 0em;
    padding: 50px ;
    min-height:calc(100% - 100px);
    width:calc(100% - 100px);
    @media (max-width:720px) {
        padding: 10px ;
        min-height:calc(100% - 20px);
        width:calc(100% - 20px);
    }
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1100px;
    margin-left: auto;
    margin-right:auto;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px, rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
}
#header{
    margin-bottom:40px;
    @media (max-width:720px) {
        margin-bottom:10px;
    }
}



.brdrBottomD{
    border-bottom: 1px dashed #d9d9d9;
}
.brdrBottomS{
    border-bottom: 1px solid #d9d9d9;
}
.brdrTopS{
    border-top: 1px solid #d9d9d9;
}




.openPage{
    cursor: pointer;
}
#payment-form{
    max-width:300px;
}
.paymentMethodsContainer{
    border-collapse: collapse;
    overflow: hidden;
}
.deletePaymentMethod{
    color:var(--white-10);
    cursor: pointer;
    font-size: .7em;
}
.deletePaymentMethod:hover{
    color:var(--red-80);
}

.defaultPaymentMethod{
    padding: 1px 8px ;
    margin:0 5px;
    background-color:var(--white-3);
    font-size:.7em;
    border-radius: 5px;
}
////

////
.plansCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin:0px 5px;
    padding-top:10px;
    width:calc(100% - 10px);
    @media (max-width:1024px) {
        // flex-direction: column;
    }
}
.planCard{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin:5px;
    border-radius: 5px;
    // cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: relative;
    // overflow: hidden;
    border:2px solid var(--white-1);
    background-color: var(--white-1);
    // min-width:200px;
}
.bestSellerElem{
    position: absolute;
    height:20px;
    padding:1px 30px;
    top:-24px;
    border-radius: 4px 4px 0 0;
    align-self: center;
    color:#ffffff;
    background-color: var(--orange-80);
    transition-duration: 100ms;
}
.planCard-small{color:var(--white-10)}
.planCard-standard{color: #804428;}
.planCard-large{color:var(--green)}
.planCard-premium{color:var(--green)}
.planCardCheck{
    position: absolute;
    top:3px;
    left:2px;
    background-color: var(--white-1);
    color:var(--txt-1);
    padding:1px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.planCardHead{
    width:calc(100% - 60px);
    padding:15px 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom:1px dashed var(--white-10)
}
.planCardItemsIcon{
    width:15px;
    height:15px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-inline-end:5px;
}
.planCard_selected{
    border:2px solid var(--green);
    .bestSellerElem{
        padding:4px 30px;
        top:-30px;
    }
}
.subscriptionPlanTxt{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin:5px;
    background-color: var(--white-1);
    box-shadow: var(--card-shdw);
    padding:8px 15px;
    border-radius: 5px;
}
.plansCards_error{
    border-radius: 5px;
    border:2px solid var(--red);
}
/////
.upgradeInvoice tr{
    vertical-align: top;
}
.hvr-cBlack:hover{color:#282828}
.pX5-720{@media (max-width:720px) {padding:5px;}}

@import '../style/style.scss';
