.fade_up_in{
    opacity:1 ;

    animation-timing-function: ease-in-out;
    animation-name:fade_up_in;
}
@keyframes fade_up_in{
    0%{opacity:0}
    100%{opacity:1}
}
.fade_up_out{
    opacity:0;
    
    animation-timing-function: ease-in-out;
    animation-name:fade_up_out;
}
@keyframes fade_up_out{
    0%{opacity:1}
    100%{opacity:0}
}
.fade_down_in{
    opacity:1;
    
    animation-timing-function: ease-in-out;
    animation-name:fade_down_in;
}
@keyframes fade_down_in{
    0%{opacity:0}
    100%{opacity:1}
}
.fade_down_out{
    opacity:0;

    animation-timing-function: ease-in-out;
    animation-name:fade_down_out;
}
@keyframes fade_down_out{
    0%{opacity:1}
    100%{opacity:0}
}