.editPromocode_loading1{
    margin:10px;
    width:calc(50% - 20px);
    border-radius: 5px;
    height:8px;
}
.editPromocode_loading2{
    margin:10px;
    width:calc(80% - 20px);
    border-radius: 5px;
    height:8px;
}
