.addItemSelection{
    border-radius: 2px;
    padding:10px 5px;
    width:calc(100% - 10px);
    background-color: var(--c1);
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-top:1px solid var(--brlight)
}
.addItemSelection:hover{background-color: var(--c2);}
#addOrderItem-itemNotice{
    margin: 0;
    width: calc(100% - 10px);
    padding: 10px 5px;
    border: 1px solid var(--brlight);
    border-top: 2px solid var(--brlight);
    height: 50px;
}

////////
.orderItemContainer{
    padding: 15px 10px;
    width:calc(100% - 20px);
    border-bottom:1px solid var(--brlight);
}
.orderItemContainer:hover{background-color: var(--c2);}
#changeItemSelection{
    background-color: var(--ttbg);
    color:var(--c1txt);
    border-radius: 2px;
    position: fixed;
    display: none;
    z-index: 249;
    transition-duration: 0s;
    box-shadow: 0 0 10px 3px var(--shdw-20);
}
////////////
.orderCheckElem{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    width:calc(100% - 10px);
    border-bottom:1px solid var(--brlight);
}
.orderCheckElem:hover{background-color: var(--c2);}
////////
.printReceiptLogo{
    height:60px;
    width:auto;
    margin-top: 5px;
    box-sizing: border-box;
}
.printReceiptItems{
    border-top:1px dashed rgb(79, 79, 79);
    border-bottom:1px dashed rgb(79, 79, 79);
}
.printReceiptQrCode{
    border-top:1px dashed rgb(79, 79, 79);
    padding-top:20px;
    margin:0 30px;
    width:calc(100% - 60px);
}
.printReceiptQtyW{
    width:40px;
    margin:0 5px;
}
.printReceiptItemW{
    width:calc(100% - 150px);
    margin:0 5px;
}
.printReceiptPriceW{
    width:80px;
    margin:0 5px;
}
