.orderDetailsElem{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width:calc(100% - 10px);
    user-select:none;
    padding: 10px 5px;
    border-top:1px solid var(--white-2);
    font-size: .9em;
}
.orderDetailsElem:hover{
    background-color: var(--white-2);
}
//
.orderTypeTag{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 5px;
    border: 1px solid var(--white-4);
    width: fit-content;
    border-radius: 5px;
}
//
#changeOrderType{
    background-color: var(--white-1);
    color:var(--txt-1);
    border-radius: 3px;
    position: fixed;
    z-index: 249;
    transition-duration: 0s;
    box-shadow: 0 0 10px 3px var(--shdw-10);
    overflow: hidden;
}
.changeOrderTypeElem{
    padding:10px;
    border-radius: 2px;
    cursor: pointer;
    min-width:150px;
    font-size: .8em;
}
.changeOrderTypeElem:hover{background-color: var(--white-2);}
////
.order-original_item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:calc(100% - 10px);
    user-select:none;
    padding: 10px 5px;
    padding-top:15px;
    border-top:1px solid var(--white-2);
    position: relative;
}
.order-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:calc(100% - 10px);
    user-select:none;
    padding: 10px 5px;
    padding-top:15px;
    border-top:1px solid var(--white-2);
    position: relative;
}
.order-item:hover{
    background-color: var(--white-2);
    .order-deleteItem{
        display: block;
    }
}
.order-deleteItem{
    display: none;
    position: absolute;
    top:5px;
    right:5px;
    color:var(--red);
    cursor: pointer;
}
.order-itemNotice{
    all: unset;
    width:100%;
    font-size: .8em;
    margin-inline-start:5px;
    color:var(--white-6)
}
.order-itemNotice:focus{color:var(--txt-1)}
.order-selection{
    border:1px solid var(--white-3);
    margin:3px;
    padding:2px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
////////
.order-receiptElem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:calc(100% - 10px);
    user-select:none;
    padding: 10px 5px;
    border-top:1px solid var(--white-2);
    position: relative;
}
.order-receiptElem:hover{
    background-color: var(--white-2);
}
/// ////
.printReceiptLogo{
    height:60px;
    width:auto;
    margin-top: 5px;
    box-sizing: border-box;
}
.printReceiptItems{
    border-top:1px dashed rgb(79, 79, 79);
    border-bottom:1px dashed rgb(79, 79, 79);
}
.printReceiptQrCode{
    border-top:1px dashed rgb(79, 79, 79);
    padding-top:20px;
    margin:0 30px;
    width:calc(100% - 60px);
}
.printReceiptQtyW{
    width:40px;
    margin:0 5px;
}
.printReceiptItemW{
    width:calc(100% - 150px);
    margin:0 5px;
}
.printReceiptPriceW{
    width:80px;
    margin:0 3px;
}
////
.orderActivity_container{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding:0;
    margin:0;
    width:100%;
    position: relative;
}
.orderActivity_left{
    height:100%;
    text-align: end;
    margin:5px 10px;
    margin-bottom: 50px;
    flex-shrink: 0;
}
.orderActivity_right{
    margin:5px 10px;
    margin-inline-start: 25px;
    font-size: .9em;
    margin-bottom: 50px;
}
.orderActivity_iconContainer{
    border-right: 1px solid var(--white-10);
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.orderActivity_iconContainer_last{border:none;}
.orderActivity_icon{
    font-size: 1.2em;
    margin-inline-end:-18px;
    background-color: var(--white);
    padding:7px;
    border-radius: 50%;
    box-shadow: 0 0 3px var(--shdw-30);
}
.order-seeChanges{
    font-size: .75em;
    border-radius: 10px;
    margin-top:5px;
    display: inline-block;
}
//
