.chatIconUnseen{
    position: absolute;
    top:4px;
    left:4px;
    width:6px;
    height:6px;
    border-radius: 50%;
    background-color: var(--orange);
}
/////////////////live chat
#liveChatMsgsList{
    width: 350px;
    right:30px;
    @media (max-width:520px) {
        right:0px;
        left:0px;
        margin:0 20px;
        width:calc(100% - 40px);
        max-height: calc(100% - 80px);
    }
}
.liveChatMsgsNumber{
    background-color: var(--white);
    color: var(--green);
    border:1px solid var(--green);
}
#navLiveChat-optionsIcon{
    padding:7px;
    font-size: 1.1em;
    margin:5px 10px;
    border-radius: 50%;
    cursor: pointer;
}
#navLiveChat-optionsIcon:hover{
    background-color: var(--white-2);
}
.navLiveChat-optionsContainer{
    position:fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--white-1);
    color:var(--txt-1);
    box-shadow: 0 0 5px var(--shdw-20);
    padding:10px 0;
    z-index: 10;
    border-radius: 3px;
    min-width:250px;
}

#usersGuestsChatContainer{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
    margin:0;
    margin-bottom:10px;
}
.usersGuestsChat{
    min-width:70px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: .9em;
    cursor: pointer;
    margin:5px 10px;
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;
    background-color: var(--white-2);
    font-weight: 500;
    font-family: 'inter','Nunito','Tajawal', sans-serif;
}
.usersGuestsChat_selected{
    background-color: var(--green);
    color:var(--green-txt)
}
.liveChatTabIconUnseen{
    background-color: var(--orange);
    color: var(--orange-txt);
    user-select: none;
    width: 6px;
    height: 6px;
    margin-inline-start: 5px;
    border-radius: 50%;
}
.liveChatTabIconUnseen_guests{
    background-color: var(--orange);
    color: var(--orange-txt);
    user-select: none;
    width: 7px;
    height: 7px;
    margin-inline-start: 5px;
    border-radius: 50%;
    flex-shrink: 0;
}

