////////////////noptifications
#notificationsList{
    width: 350px;
    right:0px;
    @media (max-width:520px) {
        right:0px;
        left:0px;
        width:calc(100%);
        max-height: calc(100% - 80px);
    }
}
#notificationsNumber{
    background-color: var(--white);
    color: var(--green);
    border:1px solid var(--green);
}
#noNotifications{
    text-align: center;
}
.notificationContainer_loading{
    width:calc(100% - 10px);
    padding: 10px 5px;
    cursor: pointer;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    position: relative;
    border-top:1px solid var(--white-2);
    height:30px;
}
.notificationContainer{
    width:calc(100% - 10px);
    padding: 15px 5px;
    cursor: pointer;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    position: relative;
    border-top:1px solid var(--white-2);
    min-height:30px;
}
.notificationContainer:hover{
    background-color:var(--white-2);
}
.notificationContainer_unseen{
    background-color:var(--white-2);
}
.notificationContainer_unseen:hover{
    background-color:var(--white-3);
}
.notificationIcon{
    margin-inline-end: 15px;
    position: relative;
    margin-inline-start: 5px;
    font-size:2em;
    color:var(--white-10)
}
.notificationBody{
    display: flex;
    flex-grow: 2;
    min-height: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.unSeenNotificationDot{
    width:7px;
    height:7px;
    background-color: var(--orange);
    border-radius:50%;
    align-self: center;
    margin-inline-start:10px;
    font-size:1.1em;
    flex-shrink: 0;
}
/////////
