//z-indexs
//popup 200
//header 190
//color_theme_picker_themes 185
//inputList_elems 185
//border_radius_select 185
//editor_popup 180
//editor_popup_dump 170


html{
    margin: 0;
    padding:0;
    height: 100%;
    width:100%;
    overflow: hidden;
}
body{
    font-family: 'Nunito','inter', sans-serif;
    overscroll-behavior-y: contain;
    margin: 0;
    padding:0;
    user-select: none;
    height:100%;
    width:100%;
    // overflow: auto;
    color: var(--txt-1);
    background-color: var(--white);
}
.editor_font{font-family: 'Nunito','inter', sans-serif !important;}
a{
    cursor: pointer;
    text-decoration: none;
    color:var(--green);
}
a:hover{
    text-decoration: underline;
}
#tooltipDiv{
    background-color: var(--white-1);
    color:var(--txt-1);
    box-shadow: 0 0 1px 1px var(--shdw-10);
    border-radius: 3px;
    padding: 5px 8px;
    position: fixed;
    flex-wrap: nowrap;
    z-index: 5250;
    transition-duration: 0s;
    max-width:400px;
    font-size: .85em;
    animation:400ms tooltipAnimation 0s 1 ease;
}
@keyframes tooltipAnimation {
    0%{transform: translateY(-5px);opacity:0;}
    100%{transform: translateY(0px);opacity:1;}
}
.msgBox_orange{
    padding:15px;
    border:1px solid var(--orange);
    background-color: var(--orange-5);
    color:var(--orange);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px;
}
.msgBox_red{
    padding:15px;
    border:1px solid var(--red);
    background-color: var(--red-5);
    color:var(--red);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px;
}
.msgBox_green{
    padding:15px;
    border:1px solid var(--green);
    background-color: var(--green-5);
    color:var(--green);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px;
}


@import '../page_loading.scss';

@import '../cpanel/tools/loading.scss';
// @import '../cpanel/tools/scrollBar.scss';
@import '../cpanel/tools/alert.scss';

@import 'tools/btn.scss';
@import 'tools/popup.scss';
@import 'tools/selectTemplate.scss';
@import 'tools/editor_popup.scss';
@import 'tools/selectors.scss';

@import 'header.scss';

@import 'website_style.scss';

@import 'website/website.scss';

@import 'editable/section.scss';

@import 'icons/icons';
@import '../style/style.scss';

.desktop_view{
    margin:0;
    width:100%;
    height:calc(100% - 50px);
    overflow: hidden;
    transition-duration: 300ms;
}
.mobile_view{
    // margin: auto;
    margin-inline-start:calc(50% - 207px);
    margin-top:100px;
    width:414px;
    height: 736px;
    box-shadow: 0 0 20px var(--shdw-20), 0 0 1px 0px var(--shdw-5);
    border-radius: 5px;
}
