.builder_header{
    background-color: var(--sm-c);
    color:var(--sm-c3);
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    position: sticky;
    top:0;
    z-index: 2500;
    height: 40px;
}
.header_icon2{
    font-size:.9em;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0 5px;
    padding:5px 10px;
}
.header_icon2:hover{
    background-color: var(--sm-c2);
}
.header_icon{
    font-size: 1.2em;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    height:30px ;
    width:30px ;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0 3px;
}
.header_icon:hover{
    background-color: var(--sm-c2);
}
.header_icon_disabled{
    color:var(--white-10);
    cursor: not-allowed;
}
.header_icon_disabled:hover{
    background-color: transparent;

}
.header_icon_selected{
    background-color:var(--sm-c3);
    color:var(--sm-c2);
    // cursor: auto;
}
.header_icon_selected:hover{
    background-color:var(--sm-c3);
    color:var(--sm-c2);
}
//
// //
.builder_header_menu{
    z-index: 190;
    position: fixed;
    left:10px;
    background-color: var(--white-1);
    color:var(--txt-1);
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--shdw-20), 0 0 1px var(--shdw-5);
    min-width:300px;
    max-width:300px;
    overflow: auto;
    max-height:calc(100% - 100px);
}
.builder_header_menu_elem, .builder_header_menu_elem_submenu{
    font-size: .9rem;
    box-sizing: border-box;
    width:100%;
    text-align: start;
    cursor: pointer;
    padding: 8px;
    border-bottom:1px solid var(--white-2);
}
.builder_header_menu_elem_submenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.builder_header_menu_elem:hover, .builder_header_menu_elem_submenu:hover{background-color: var(--white-2);}
.builder_header_menu_elem:last-child, .builder_header_menu_elem_submenu:last-child{border-bottom: none;}
.select_website_page, .select_website_popup{
    display:flex;
    align-items: center;
    justify-self: center;
}
.select_website_page span:nth-child(1), .select_website_popup span:nth-child(2){
    margin-inline-end: 5px;
}
.builder_header_submenu{
    position: fixed;
    z-index: 190;
    left:10px;
    background-color: var(--white-1);
    color:var(--txt-1);
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--shdw-20), 0 0 1px var(--shdw-5);
    min-width:300px;
    max-width:300px;
    overflow: auto;
    max-height:calc(100% - 100px);
}
//