header{
    background-color: var(--sm-c);
    color:var(--sm-c3);
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    position: sticky;
    top:0;
    z-index: 190;
    height: 40px;
}
.header_icon2{
    font-size:.9em;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0 5px;
    padding:5px 10px;
}
.header_icon2:hover{
    background-color: var(--sm-c2);
}
.header_icon{
    font-size: 1.2em;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    height:30px ;
    width:30px ;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0 3px;
}
.header_icon:hover{
    background-color: var(--sm-c2);
}
.header_icon_disabled{
    color:var(--white-10);
    cursor: not-allowed;
}
.header_icon_disabled:hover{
    background-color: transparent;

}
.header_icon_selected{
    background-color:var(--sm-c3);
    color:var(--sm-c2);
    // cursor: auto;
}
.header_icon_selected:hover{
    background-color:var(--sm-c3);
    color:var(--sm-c2);
}
//
.website_pages_container{
    z-index: 190;
    position: fixed;
    left:10px;
    background-color: var(--white-1);
    color:var(--txt-1);
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--shdw-20), 0 0 1px var(--shdw-5);
    min-width:300px;
    max-width:400px;
    overflow: auto;
    max-height:calc(100% - 100px);
}
.select_website_page{
    font-size: .9em;
    box-sizing: border-box;
    width:100%;
    text-align: start;
    cursor: pointer;
    padding: 8px;
    border-bottom:1px solid var(--white-2);
}
.select_website_page:hover{background-color: var(--white-2);}
//
.website_style_container{
    z-index: 190;
    position: fixed;
    left:10px;
    background-color: var(--white-1);
    color:var(--txt-1);
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--shdw-20), 0 0 1px var(--shdw-5);
    min-width:300px;
    max-width:400px;
    overflow: auto;
    max-height:calc(100% - 100px);
}
.website_style_elem{
    font-size: .9em;
    box-sizing: border-box;
    width:100%;
    text-align: start;
    cursor: pointer;
    padding: 8px;
    border-bottom:1px solid var(--white-2);
}
.website_style_elem:hover{background-color: var(--white-2);}
//
.website_tools_container{
    z-index: 190;
    position: fixed;
    left:10px;
    background-color: var(--white-1);
    color:var(--txt-1);
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--shdw-20), 0 0 1px var(--shdw-5);
    min-width:300px;
    max-width:400px;
    overflow: auto;
    max-height:calc(100% - 100px);
}
.website_tools_elem{
    font-size: .9em;
    box-sizing: border-box;
    width:100%;
    text-align: start;
    cursor: pointer;
    padding: 8px;
    border-bottom:1px solid var(--white-2);
}
.website_tools_elem:hover{background-color: var(--white-2);}
