.accountPhoneSelectContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border:1px solid var(--white-3);
    border-radius: 3px;
    width:fit-content;
    position: relative;
}
.accountPhoneSelectFlag{
    height:30px;
    width:40px;
    object-fit: cover;
    border-radius: 3px 0 0 3px;
}
.accountPhoneSelectCountryCode, .accountPhoneSelectPhoneNumber{
    padding: 5px 3px;
    height:20px;
    background-color: transparent;
    color: var(--txt-1);
    border:none;
    font-size: .9em;
    border-radius: 0;
    margin:0;
    user-select: auto;
    font-family: 'Nunito','inter','Tajawal', sans-serif;
}
.accountPhoneSelectCountryCode:focus,.accountPhoneSelectPhoneNumber:focus {
    outline:none;
}
.accountPhoneSelectCountryCode{
    width:35px;
    border-inline-end:1px solid var(--white-3);
    padding-inline-start: 0;
}
.accountPhoneSelectKeysListContainer{
    position: absolute;
    top:30px;
    background-color: var(--white-1);
    box-shadow: 0 0 10px 3px var(--shdw-20);
    width:97px;
    height: 200px;
    overflow-y: scroll;
}
.accountPhoneSelectKeysElem{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    font-size: .9em;
}
.accountPhoneSelectKeysElem:hover{
    background-color: var(--white-3);
}
