@font-face {
  font-family: 'builder';
  src:  url('fonts/design.eot?fispvm');
  src:  url('fonts/design.eot?fispvm#iefix') format('embedded-opentype'),
    url('fonts/design.ttf?fispvm') format('truetype'),
    url('fonts/design.woff?fispvm') format('woff'),
    url('fonts/design.svg?fispvm#design') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'builder' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-border_radius_1:before {
  content: "\e99a";
}
.ico-border_radius_2:before {
  content: "\e99b";
}
.ico-border_radius_3:before {
  content: "\e99c";
}
.ico-loading_spinner:before {
  content: "\e999";
}
.ico-check_box:before {
  content: "\e997";
}
.ico-preview_form:before {
  content: "\e994";
}
.ico-text_style:before {
  content: "\e992";
}
.ico-font_style:before {
  content: "\e993";
}
.ico-form:before {
  content: "\e991";
}
.ico-close_icon:before {
  content: "\e98e";
}
.ico-popup_window:before {
  content: "\e98f";
}
.ico-square:before {
  content: "\e990";
}
.ico-bug:before {
  content: "\e98d";
}
.ico-paste2:before {
  content: "\e98a";
}
.ico-cut2:before {
  content: "\e98b";
}
.ico-copy2:before {
  content: "\e98c";
}
.ico-settings:before {
  content: "\e942";
}
.ico-select_image:before {
  content: "\e989";
}
.ico-list:before {
  content: "\e987";
}
.ico-interactions:before {
  content: "\e986";
}
.ico-transition_timing:before {
  content: "\e985";
}
.ico-mobile_navbar_icon:before {
  content: "\e97e";
}
.ico-drop_down_list:before {
  content: "\e97f";
}
.ico-navigation_icons:before {
  content: "\e980";
}
.ico-navigation_list:before {
  content: "\e981";
}
.ico-logo_restaurant_name:before {
  content: "\e982";
}
.ico-header_layout:before {
  content: "\e983";
}
.ico-smoothScroll:before {
  content: "\e97c";
}
.ico-pageTransition:before {
  content: "\e97d";
}
.ico-section:before {
  content: "\e97b";
}
.ico-privacy_policy:before {
  content: "\e975";
}
.ico-order:before {
  content: "\e976";
}
.ico-cart:before {
  content: "\e977";
}
.ico-product:before {
  content: "\e978";
}
.ico-about_us:before {
  content: "\e979";
}
.ico-home:before {
  content: "\e97a";
}
.ico-bring_forward:before {
  content: "\e971";
}
.ico-bring_to_front:before {
  content: "\e972";
}
.ico-send_backward:before {
  content: "\e973";
}
.ico-send_to_back:before {
  content: "\e974";
}
.ico-layers:before {
  content: "\e970";
}
.ico-overflow:before {
  content: "\e96e";
}
.ico-display:before {
  content: "\e96f";
}
.ico-search_filters:before {
  content: "\e96c";
}
.ico-remove_hover:before {
  content: "\e96b";
}
.ico-unlock:before {
  content: "\e969";
}
.ico-lock:before {
  content: "\e96a";
}
.ico-button:before {
  content: "\e900";
}
.ico-title:before {
  content: "\e901";
}
.ico-icon:before {
  content: "\e931";
}
.ico-edit_text:before {
  content: "\e988";
}
.ico-paragraph:before {
  content: "\e932";
}
.ico-line:before {
  content: "\e934";
}
.ico-image:before {
  content: "\e967";
}
.ico-filter:before {
  content: "\e95c";
}
.ico-rotate_center:before {
  content: "\e902";
}
.ico-rotate_z_plus:before {
  content: "\e935";
}
.ico-rotate_z_minus:before {
  content: "\e936";
}
.ico-rotate_x_minus:before {
  content: "\e960";
}
.ico-rotate_x_plus:before {
  content: "\e961";
}
.ico-rotate_y_minus:before {
  content: "\e962";
}
.ico-rotate_y_plus:before {
  content: "\e963";
}
.ico-regular:before {
  content: "\e95d";
}
.ico-hover:before {
  content: "\e95e";
}
.ico-click:before {
  content: "\e984";
}
.ico-error:before {
  content: "\e99d";
}
.ico-color_theme:before {
  content: "\e957";
}
.ico-transform:before {
  content: "\e965";
}
.ico-animation:before {
  content: "\e956";
}
.ico-add_elem:before {
  content: "\e955";
}
.ico-styling:before {
  content: "\e953";
}
.ico-box_shadow:before {
  content: "\e950";
}
.ico-border_radius:before {
  content: "\e951";
}
.ico-border:before {
  content: "\e952";
}
.ico-alignment:before {
  content: "\e954";
}
.ico-driver:before {
  content: "\e94b";
}
.ico-sizing:before {
  content: "\e94c";
}
.ico-spacing:before {
  content: "\e968";
}
.ico-background:before {
  content: "\e94d";
}
.ico-header:before {
  content: "\e94e";
}
.ico-layout:before {
  content: "\e94f";
}
.ico-cut:before {
  content: "\e948";
}
.ico-paste:before {
  content: "\e949";
}
.ico-copy:before {
  content: "\e91e";
}
.ico-rename:before {
  content: "\e94a";
}
.ico-margin:before {
  content: "\e943";
}
.ico-padding:before {
  content: "\e947";
}
.ico-gap_blocks:before {
  content: "\e944";
}
.ico-height:before {
  content: "\e945";
}
.ico-width:before {
  content: "\e946";
}
.ico-erase:before {
  content: "\e940";
}
.ico-background_color:before {
  content: "\e93e";
}
.ico-text_color:before {
  content: "\e93f";
}
.ico-unlink:before {
  content: "\e939";
}
.ico-link:before {
  content: "\e93a";
}
.ico-italic:before {
  content: "\e93b";
}
.ico-underline:before {
  content: "\e93c";
}
.ico-bold:before {
  content: "\e93d";
}
.ico-font_size:before {
  content: "\e96d";
}
.ico-mobile:before {
  content: "\e903";
}
.ico-desktop:before {
  content: "\e904";
}
.ico-responsive:before {
  content: "\e930";
}
.ico-dot_circle:before {
  content: "\e92f";
}
.ico-see_more:before {
  content: "\e92e";
}
.ico-minus:before {
  content: "\e905";
}
.ico-plus:before {
  content: "\e92d";
}
.ico-search:before {
  content: "\e92c";
}
.ico-metrics:before {
  content: "\e92a";
}
.ico-eye:before {
  content: "\e92b";
}
.ico-eye_off:before {
  content: "\e998";
}
.ico-add:before {
  content: "\e929";
}
.ico-position_left:before {
  content: "\e923";
}
.ico-position_top:before {
  content: "\e924";
}
.ico-position_right:before {
  content: "\e925";
}
.ico-position_bottom:before {
  content: "\e926";
}
.ico-position_vcenter:before {
  content: "\e927";
}
.ico-position_hcenter:before {
  content: "\e928";
}
.ico-position_hstretch:before {
  content: "\e995";
}
.ico-position_vstretch:before {
  content: "\e996";
}
.ico-page_settings:before {
  content: "\e922";
}
.ico-delete:before {
  content: "\e91f";
}
.ico-download:before {
  content: "\e920";
}
.ico-align_center:before {
  content: "\e91a";
}
.ico-align_start:before {
  content: "\e91b";
}
.ico-align_end:before {
  content: "\e91c";
}
.ico-check:before {
  content: "\e919";
}
.ico-border_left:before {
  content: "\e915";
}
.ico-border_right:before {
  content: "\e916";
}
.ico-border_top:before {
  content: "\e917";
}
.ico-border_bottom:before {
  content: "\e918";
}
.ico-no:before {
  content: "\e914";
}
.ico-play:before {
  content: "\e913";
}
.ico-pause:before {
  content: "\e95f";
}
.ico-drag2:before {
  content: "\e912";
}
.ico-scale_down:before {
  content: "\e937";
}
.ico-scale_up:before {
  content: "\e938";
}
.ico-arrowLeft:before {
  content: "\e906";
}
.ico-arrowRight:before {
  content: "\e90f";
}
.ico-arrowUp:before {
  content: "\e910";
}
.ico-arrowDown:before {
  content: "\e911";
}
.ico-folder:before {
  content: "\e90e";
}
.ico-success:before {
  content: "\e90b";
}
.ico-warning:before {
  content: "\e90c";
}
.ico-info:before {
  content: "\e90d";
}
.ico-information:before {
  content: "\e90d";
}
.ico-check0:before {
  content: "\e909";
}
.ico-check1:before {
  content: "\e90a";
}
.ico-text:before {
  content: "\e941";
}
.ico-edit:before {
  content: "\e908";
}
.ico-drag:before {
  content: "\e907";
}
.ico-close:before {
  content: "\e91d";
}
.ico-style:before {
  content: "\e921";
}
.ico-website_tools:before {
  content: "\e933";
}
.ico-redo:before {
  content: "\e958";
}
.ico-undo:before {
  content: "\e959";
}
.ico-arrowUp2:before {
  content: "\e95b";
}
.ico-arrowDown2:before {
  content: "\e95a";
}
.ico-arrowLeft2:before {
  content: "\e964";
}
.ico-arrowRight2:before {
  content: "\e966";
}
