:root {

    --sm-c:rgb(40, 40, 42);
    --sm-c2:rgb(44, 46, 47);
    --sm-c3:rgb(255,255,255);

    --white:rgb(35, 35, 35);
    --white-1:rgb(40, 40, 40);
    --white-2:rgb(50, 50, 50);
    --white-3:rgb(60, 60, 60);
    --white-4:rgb(70, 70, 70);
    --white-5:rgb(80, 80, 80);
    --white-6:rgb(90, 90, 90);
    --white-7:rgb(100, 100, 100);
    --white-8:rgb(110, 110, 110);
    --white-9:rgb(120, 120, 120);
    --white-10:rgb(130, 130, 130);

    --txt-1:rgb(200, 200, 200);
    --txt-2:rgb(255, 255, 255);

    --green-txt:rgb(255, 255, 255);
    --green:rgb(16, 144, 146);
    --green-90:rgba(16, 144, 146,0.9);
    --green-80:rgba(16, 144, 146,0.8);
    --green-70:rgba(16, 144, 146,0.7);
    --green-60:rgba(16, 144, 146,0.6);
    --green-50:rgba(16, 144, 146,0.5);
    --green-40:rgba(16, 144, 146,0.4);
    --green-30:rgba(16, 144, 146,0.3);
    --green-20:rgba(16, 144, 146,0.2);
    --green-10:rgba(16, 144, 146,0.1);

    --orange-txt:rgb(255, 255, 255);
    --orange:rgb(240, 116, 58);
    --orange-90:rgba(240, 116, 58, 0.9);
    --orange-80:rgba(240, 116, 58, 0.8);
    --orange-70:rgba(240, 116, 58, 0.7);
    --orange-60:rgba(240, 116, 58, 0.6);
    --orange-50:rgba(240, 116, 58, 0.5);
    --orange-40:rgba(240, 116, 58, 0.4);
    --orange-30:rgba(240, 116, 58, 0.3);
    --orange-20:rgba(240, 116, 58, 0.2);
    --orange-10:rgba(240, 116, 58, 0.1);
    --orange-5:rgba(240, 116, 58, 0.05);

    --red-txt:rgb(255, 255, 255);
    --red:rgb(241, 32, 49);
    --red-90:rgba(241, 32, 49, 0.9);
    --red-80:rgba(241, 32, 49, 0.8);
    --red-70:rgba(241, 32, 49, 0.7);
    --red-60:rgba(241, 32, 49, 0.6);
    --red-50:rgba(241, 32, 49, 0.5);
    --red-40:rgba(241, 32, 49, 0.4);
    --red-30:rgba(241, 32, 49, 0.3);
    --red-20:rgba(241, 32, 49, 0.2);
    --red-10:rgba(241, 32, 49, 0.1);
    --red-5:rgba(241, 32, 49, 0.05);

    --blue-txt:rgb(255, 255, 255);
    --blue:rgb(40, 123, 206);
    --blue-90:rgba(40, 123, 206, 0.9);
    --blue-80:rgba(40, 123, 206, 0.8);
    --blue-70:rgba(40, 123, 206, 0.7);
    --blue-60:rgba(40, 123, 206, 0.6);
    --blue-50:rgba(40, 123, 206, 0.5);
    --blue-40:rgba(40, 123, 206, 0.4);
    --blue-30:rgba(40, 123, 206, 0.3);
    --blue-20:rgba(40, 123, 206, 0.2);
    --blue-10:rgba(40, 123, 206, 0.1);
    --blue-5:rgba(40, 123, 206, 0.05);

    --shdw-5:rgba(0, 0, 0, 0.05);
    --shdw-10:rgba(0, 0, 0, 0.1);
    --shdw-15:rgba(0, 0, 0, 0.15);
    --shdw-20:rgba(0, 0, 0, 0.2);
    --shdw-30:rgba(0, 0, 0, 0.3);
    --shdw-40:rgba(0, 0, 0, 0.4);
    --shdw-50:rgba(0, 0, 0, 0.5);
    --shdw-60:rgba(0, 0, 0, 0.6);
    --shdw-70:rgba(0, 0, 0, 0.7);
    --shdw-80:rgba(0, 0, 0, 0.8);

    --card-shdw:0 0 0px var(--shdw-5);


    --star:#ffb700;

    --cdelivery:#136fa4;
    --cdeliveryTxt:#ffffff;
    --cpickup:#ab4c89;
    --cpickupTxt:#ffffff;
    --cdineIn:#7a68cc;
    --cdineInTxt:#ffffff;


    --cs1:rgb(203, 70, 60);
    --cs1-70:rgba(203, 70, 60,.7);
    --cs1-30:rgba(203, 70, 60,.3);
    --cs2:rgb(38, 105, 193);
    --cs2-70:rgba(38, 105, 193,.7);
    --cs2-30:rgba(38, 105, 193,.3);

    /* --s-itemsTotal:#4d7f64;
    --s-tax:#df6b62;
    --s-deliveryCost:#006d77;
    --s-service:#f5c396; */


    /* ///// */
    /* --bbg:rgb(26, 26, 26);
    --bg:rgb(31, 31, 31);
    --bg2:rgb(37, 37, 37);
    --bg3:rgb(45, 45, 45);
    --bg4:rgb(57, 57, 57);
    --bg5:rgb(59, 59, 59);
    --bg6:rgb(79, 79, 79);
    --bg7:rgb(96, 96, 96);
    --toltp-bg:rgb(19, 19, 19);
    --txt:rgb(214, 214, 214);
    --area-br:rgb(26, 26, 26); */

    /* --c1:#252525;
    --c1-75:#252525b3;
    --c2:#161616;
    --c3:#1e3636;
    --c4:#3a6c6c;
    --c5:#175050;
    --c1txt:#bcbcbc;
    --c4txt:#e3e3e3;

    --ttbg:#243d40;
    --brlight:#223c3c;
    --sttsbr:#173b3c;
    --placeholder:#777777;
    --placeholder2:#6c7a7a;
    --inpttxt:#bcbcbc;
    --inptbr:#223c3c;
    --areabr:#375757;
    --a:#217f7f;
    --sbbg:#3e4640;
    --nparw:#134b4b;
    --chtinc:#969696;
    --chtumbg:#233738;
    --chtambg:#173b3c;

    --bgbr-bg:#323232;
    --bgbr-green:repeating-linear-gradient(0deg, #236959, #14987b);
    --bgbr-orange:repeating-linear-gradient(0deg, #ac552c, #e6885b);
    --bgbr-red:repeating-linear-gradient(0deg, #d82634, #e04350);

    --shdw1:var(--shdw-5) 0px 0px 18px, var(--shdw-20) 0px 3px 10px;
    --shdw2:inset var(--shdw-10) 0px 0px 2px 1px;
    --shdw3:var(--shdw-5) 0px 0px 24px 0px, var(--shdw-5) 0px 0px 0px 1px;
    --shdw4: rgba(0, 0, 0, .8) 0px 0px 2px 0px;
    --shdw5:0 0 2px 0 var(--shdw-20), 0 0 0px 1px var(--shdw-10);
    --sidmnu-shdw:rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
    --toltp-shdw:var(--shdw-30) 0px 0px 15px, var(--shdw-30) 0px 1px 5px;
    --toltp-shdw2:var(--shdw-30) 0px 0px 10px, var(--shdw-20) 0px 1px 5px;


    --star:#ffb700;

    --orange:#ff8348;
    --orange-80:#ff8348cc;
    --orange-20:#f0743a33;
    --orange-10:#f0743a1a;
    --orange-5:#f0743a0d;
    --orange-txt:#ffffff;

    --red:#f12031;
    --red-80:#f12031cc;
    --red-20:#f1203133;
    --red-10:#f120311a;
    --red-5:#f120310d;
    --red-txt:#ffffff;

    --green:#109092;
    --green-80:#109092cc;
    --green-70:#109092B3;
    --green-30:#1090924d;
    --green-20:#10909233;
    --green-10:#1090921a;
    --green-5:#1090920d;
    --green-txt:#ffffff;



    --cs1:#1861ba;
    --cs1-70:#1861BAB3;
    --cs2:#bf600d;
    --cs2-70:#bf600dB3;
    --csso:#399737;
    --csco:#DA1B2B;
    --s-itemsTotal:#4d7f64;
    --s-tax:#df6b62;
    --s-deliveryCost:#006d77;
    --s-service:#f5c396; */
}

/* --c1:#0e1919;
--c1-75:#0e1919b3;
--c2:#161f1f;
--c3:#1e3636;
--c4:#3a6c6c;
--c5:#175050;
--c1txt:#bcbcbc;
--c4txt:#e3e3e3;

--ttbg:#243d40;
--brlight:#223c3c;
--sttsbr:#173b3c;
--placeholder:#777777;
--placeholder2:#6c7a7a;
--inpttxt:#bcbcbc;
--inptbr:#223c3c;
--areabr:#375757;
--a:#217f7f;
--sbbg:#3e4640;
--nparw:#134b4b;
--chtinc:#969696;
--chtumbg:#233738;
--chtambg:#173b3c;

--bgbr-bg:#323232;
--bgbr-green:repeating-linear-gradient(0deg, #236959, #14987b);
--bgbr-orange:repeating-linear-gradient(0deg, #ac552c, #e6885b);
--bgbr-red:repeating-linear-gradient(0deg, #d82634, #e04350);

--shdw1:var(--shdw-5) 0px 0px 18px, var(--shdw-20) 0px 3px 10px;
--shdw2:inset var(--shdw-10) 0px 0px 2px 1px;
--shdw3:var(--shdw-5) 0px 0px 24px 0px, var(--shdw-5) 0px 0px 0px 1px;
--shdw4: rgba(0, 0, 0, .8) 0px 0px 2px 0px;
--shdw5:0 0 2px 0 var(--shdw-20), 0 0 0px 1px var(--shdw-10);
--shdw-5:#0000000d;
--shdw-10:#0000001a;
--shdw-20:#00000033;
--shdw-30:#0000004d;
--shdw-40:#00000066;
--shdw-50:#00000080;
--shdw-60:#00000099;

--star:#ffb700;

--orange:#ff8348;
--orange-80:#ff8348cc;
--orange-20:#f0743a33;
--orange-10:#f0743a1a;
--orange-5:#f0743a0d;
--orange-txt:#ffffff;

--red:#f12031;
--red-80:#f12031cc;
--red-20:#f1203133;
--red-10:#f120311a;
--red-5:#f120310d;
--red-txt:#ffffff;

--green:#3b8c8e;
--green-80:#3b8c8ecc;
--green-20:#3b8b8c33;
--green-10:#3b8b8c1a;
--green-5:#3b8b8c0d;
--green-txt:#ffffff;

--cdelivery:#136fa4;
--cdeliveryTxt:#ffffff;
--cpickup:#ab4c89;
--cpickupTxt:#ffffff;
--cdineIn:#7a68cc;
--cdineInTxt:#ffffff;

--cs1:#1861ba;
--cs1-70:#1861BAB3;
--cs2:#bf600d;
--cs2-70:#bf600dB3;
--csso:#399737;
--csco:#DA1B2B;
--s-itemsTotal:#4d7f64;
--s-tax:#df6b62;
--s-deliveryCost:#006d77;
--s-service:#f5c396; */
