:root {

    --sm-c:rgb(52, 58, 59);
    --sm-c2:rgb(60, 70, 71);
    --sm-c3:rgb(255,255,255);


    --white:rgb(255, 255, 255);
    --white-1:rgb(255, 255, 255);
    --white-2:rgb(245, 245, 245);
    --white-3:rgb(235, 235, 235);
    --white-4:rgb(225, 225, 225);
    --white-5:rgb(215, 215, 215);
    --white-6:rgb(205, 205, 205);
    --white-7:rgb(195, 195, 195);
    --white-8:rgb(185, 185, 185);
    --white-9:rgb(175, 175, 175);
    --white-10:rgb(165, 165, 165);
    --white-11:rgb(144, 144, 144);

    --txt-1:rgb(40, 40, 40);
    --txt-2:rgb(255, 255, 255);

    --shdw-5:rgba(0, 0, 0, 0.05);
    --shdw-10:rgba(0, 0, 0, 0.1);
    --shdw-15:rgba(0, 0, 0, 0.15);
    --shdw-20:rgba(0, 0, 0, 0.2);
    --shdw-30:rgba(0, 0, 0, 0.3);
    --shdw-40:rgba(0, 0, 0, 0.4);
    --shdw-50:rgba(0, 0, 0, 0.5);
    --shdw-60:rgba(0, 0, 0, 0.6);
    --shdw-70:rgba(0, 0, 0, 0.7);
    --shdw-80:rgba(0, 0, 0, 0.8);

    --card-shdw:0 0 20px var(--shdw-5), 0 0 1px 0px var(--shdw-10);

    --green-txt:rgb(255, 255, 255);
    --green:rgb(16, 144, 146);
    --green-90:rgba(16, 144, 146, 0.9);
    --green-80:rgba(16, 144, 146, 0.8);
    --green-70:rgba(16, 144, 146, 0.7);
    --green-60:rgba(16, 144, 146, 0.6);
    --green-50:rgba(16, 144, 146, 0.5);
    --green-40:rgba(16, 144, 146, 0.4);
    --green-30:rgba(16, 144, 146, 0.3);
    --green-20:rgba(16, 144, 146, 0.2);
    --green-10:rgba(16, 144, 146, 0.1);
    --green-5:rgba(16, 144, 146, 0.05);

    --orange-txt:rgb(255, 255, 255);
    --orange:rgb(240, 116, 58);
    --orange-90:rgba(240, 116, 58, 0.9);
    --orange-80:rgba(240, 116, 58, 0.8);
    --orange-70:rgba(240, 116, 58, 0.7);
    --orange-60:rgba(240, 116, 58, 0.6);
    --orange-50:rgba(240, 116, 58, 0.5);
    --orange-40:rgba(240, 116, 58, 0.4);
    --orange-30:rgba(240, 116, 58, 0.3);
    --orange-20:rgba(240, 116, 58, 0.2);
    --orange-10:rgba(240, 116, 58, 0.1);
    --orange-5:rgba(240, 116, 58, 0.05);

    --red-txt:rgb(255, 255, 255);
    --red:rgb(241, 32, 49);
    --red-90:rgba(241, 32, 49, 0.9);
    --red-80:rgba(241, 32, 49, 0.8);
    --red-70:rgba(241, 32, 49, 0.7);
    --red-60:rgba(241, 32, 49, 0.6);
    --red-50:rgba(241, 32, 49, 0.5);
    --red-40:rgba(241, 32, 49, 0.4);
    --red-30:rgba(241, 32, 49, 0.3);
    --red-20:rgba(241, 32, 49, 0.2);
    --red-10:rgba(241, 32, 49, 0.1);
    --red-5:rgba(241, 32, 49, 0.05);

    --blue-txt:rgb(255, 255, 255);
    --blue:rgb(40, 123, 206);
    --blue-90:rgba(40, 123, 206, 0.9);
    --blue-80:rgba(40, 123, 206, 0.8);
    --blue-70:rgba(40, 123, 206, 0.7);
    --blue-60:rgba(40, 123, 206, 0.6);
    --blue-50:rgba(40, 123, 206, 0.5);
    --blue-40:rgba(40, 123, 206, 0.4);
    --blue-30:rgba(40, 123, 206, 0.3);
    --blue-20:rgba(40, 123, 206, 0.2);
    --blue-10:rgba(40, 123, 206, 0.1);
    --blue-5:rgba(40, 123, 206, 0.05);


    --star:#ffb700;

    --cdelivery:#208bc9;
    --cdeliveryTxt:#ffffff;
    --cpickup:#d769b1;
    --cpickupTxt:#ffffff;
    --cdineIn:#8b78e1;
    --cdineInTxt:#ffffff;


    --cs1:rgb(3, 146, 194);
    --cs1-70:rgba(3, 146, 194,.7);
    --cs1-30:rgba(3, 146, 194,.3);
    --cs2:rgb(248, 130, 117);
    --cs2-70:rgba(248, 130, 117,.7);
    --cs2-30:rgba(248, 130, 117,.3);


    /* --cs1:rgb(218, 135, 147);
    --cs1-70:rgba(218, 135, 147,.7);
    --cs1-30:rgba(218, 135, 147,.3);
    --cs2:rgb(38, 134, 193);
    --cs2-70:rgba(38, 134, 193,.7);
    --cs2-30:rgba(38, 134, 193,.3); */

    /* --s-itemsTotal:#4d7f64;
    --s-tax:rgb(223, 107, 98);
    --s-deliveryCost:#006d77;
    --s-service:#f5c396; */

    /* ///// */
    /* --bbg:rgb(249, 249, 249);
    --bg:rgb(255, 255, 255);
    --bg2:rgb(246, 246, 246);
    --bg3:rgb(237, 241, 238);
    --bg4:rgb(219, 217, 217);
    --bg5:rgb(228, 228, 228);
    --bg6:rgb(197, 197, 197);
    --bg7:rgb(170, 170, 170);
    --toltp-bg:rgb(255, 255, 255);
    --txt:rgb(41, 41, 41);
    --area-br:rgba(0, 0, 0, 0.102);



 */

    /* ///// */
/*
    --c1:#ffffff;
    --c1-75:#ffffffb3;
    --c2:#f5f5f5;
    --c3:#edf1ee;
    --c4:#109092;
    --c5:#2b6f70;
    --c1txt:#565b5b;
    --c4txt:#ffffff;

    --ttbg:#ffffff;
    --brlight:#efecec;
    --sttsbr:#e2e2e2;
    --placeholder:#b6b6b6;
    --placeholder2:#8d8d8d;
    --inpttxt:#5a5a5a;
    --inptbr:#d0cfcf;
    --areabr:#e1e1e1;
    --a:#109092;
    --sbbg:#d4d4d4;
    --nparw:#e7e7e7;
    --chtinc:#b6b6b6;
    --chtumbg:#f9f9f9;
    --chtambg:#eaf4f1;

    --bgbr-bg:#ebebeb;
    --bgbr-green:repeating-linear-gradient(0deg, #33aa8e, #4ccbaf);
    --bgbr-orange:repeating-linear-gradient(0deg, #ff8850, #ffa77c);
    --bgbr-red:repeating-linear-gradient(0deg, #d82634, #e04350);

    --shdw1:var(--shdw-5) 0px 0px 10px, var(--shdw-20) 0px 1px 5px;
    --shdw2:inset var(--shdw-10) 0px 0px 1px 1px;
    --shdw3:var(--shdw-5) 0px 0px 24px 0px, var(--shdw-5) 0px 0px 0px 1px;
    --shdw4: rgba(0, 0, 0, 0.1) 0px 0px 6px 0px;
    --shdw5:0 0 5px 0 var(--shdw-5), 0 0 0px 1px var(--shdw-5);
    --sidmnu-shdw:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
    --toltp-shdw:var(--shdw-10) 0px 0px 15px, var(--shdw-20) 0px 1px 5px;
    --toltp-shdw2:var(--shdw-10) 0px 0px 10px, var(--shdw-10) 0px 1px 5px;


    --star:#ffb700;

    --orange:#f0743a;
    --orange-80:#f0743acc;
    --orange-30:#f0743a4d;
    --orange-20:#f0743a33;
    --orange-10:#f0743a1a;
    --orange-5:#f0743a0d;
    --orange-txt:#ffffff;

    --red:#f12031;
    --red-80:#f12031cc;
    --red-30:#f120314d;
    --red-20:#f1203133;
    --red-10:#f120311a;
    --red-5:#f120310d;
    --red-txt:#ffffff;


    --green:#109092;
    --green-80:#109092cc;
    --green-70:#109092B3;
    --green-30:#1090924d;
    --green-20:#10909233;
    --green-10:#1090921a;
    --green-5:#1090920d;
    --green-txt:#ffffff;



    --cs1:#1861ba;
    --cs1-70:#1861BAB3;
    --cs2:#bf600d;
    --cs2-70:#bf600dB3;
    --csso:#399737;
    --csco:#DA1B2B;
    --s-itemsTotal:#4d7f64;
    --s-tax:#df6b62;
    --s-deliveryCost:#006d77;
    --s-service:#f5c396; */

}
