.inputListContainer{
    position: relative;
    max-width:calc(100% - 2px);
    margin:10px 0px;
    width:fit-content;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width:fit-content;
    border:1px solid var(--white-3);
    border-radius: 3px;
    z-index: 9;
}
.inputListContainer_active{
    border:1px solid var(--white-5) !important;
}
.inputListIcon{
    padding: 5px;
    height:15px;
    min-width:20px;
    font-size: 1.2em;
    background-color: transparent;
    color: var(--white-4);
    display:flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    cursor: pointer;
}
.inputTextIconFlag{
    height:18px;
    width:18px;
    border-radius: 50%;
}
.inputList{
    padding: 8px 3px;
    height:15px;
    width:300px;
    max-width:calc(100% - 6px);
    background-color: transparent;
    color: var(--txt-1);
    border:none;
    font-size: .9em;
    border-radius: 0;
    margin:0;
    user-select: auto;
    font-family: 'Nunito','inter','Tajawal', sans-serif;
    // z-index: 9;
}

.inputList:focus {
    outline:none;
}
.inputList::placeholder{
    color:var(--white-6)
}
.inputList:read-only{
    cursor: not-allowed;
}
.inputListDownIcon{
    padding: 5px;
    height:15px;
    font-size: .8em;
    background-color: transparent;
    color:var(--white-6);
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    // z-index: 9;
}
.listContainer{
    position: absolute;
    width: calc(100%);
    background-color: var(--white);
    box-shadow: 0px 1px 4px 0px var(--shdw-10);
    border:1px solid var(--white-3);
    top: calc(100% - 0px);
    left: -1px;
    border-radius: 3px;
    max-height: 200px;
    min-height: 50px;
    overflow-y: scroll;
    display:none;
}
.inputListElement{
    padding:5px;
    width:calc(100% - 10px);
    cursor: pointer;
    box-shadow: 0 0 1px 0px var(--shdw-20);
    font-size: .9em;
    position: relative;
}
.inputListElement:hover{
    background-color: var(--white-2);
}
.selectedinputListElement{
    background-color: var(--white-2);

}
.inputListElementLoading1{
    padding:5px;
    margin:10px;
    border-radius: 10px;
    width:calc(80% - 30px);
    box-shadow: 0 0 1px 0px var(--shdw-20);
    background: linear-gradient(-90deg,  var(--shdw-5), var(--shdw-20));
    background-size: 400% 400%;
    animation: inputListElementLoadingAnimation 2s ease-in-out infinite;
    position: relative;
}
.inputListElementLoading2{
    padding:5px;
    margin:10px;
    border-radius: 10px;
    width:calc(90% - 30px);
    box-shadow: 0 0 1px 0px var(--shdw-20);
    background: linear-gradient(-90deg,  var(--shdw-5), var(--shdw-20));
    background-size: 400% 400%;
    animation: inputListElementLoadingAnimation 2s ease-in-out infinite;
    position: relative;
}
@keyframes inputListElementLoadingAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
//
.inputList_unsaved{
    position: absolute;
    top:5px;
    left:5px;
    width:5px;
    height:5px;
    border-radius: 50%;
    background-color: var(--orange);
}
.inputListElement_unsaved{
    position: absolute;
    top:6px;
    left:3px;
    width:5px;
    height:5px;
    border-radius: 50%;
    background-color: var(--orange);
}
//
