.financialReportsNext, .financialReportsPrev{
    padding:5px;
    border-radius: 50%;
    cursor: pointer;
    margin:0 7px;
    font-size:.9em;
}
.financialReportsNext:hover, .financialReportsPrev:hover{
    background-color: var(--white-2);
}
.financialReportsArrow_dump{
    color:var(--white-6);
    cursor: not-allowed;
}
.financialReportsArrow_dump:hover{
    background-color: var(--white);
}
.financialReportsCountContainer{
    font-size:.8em;
    margin:0 7px;
}
.delete_financial_report:hover{color:var(--red)}
