.quickLinkContainer{
    margin:15px;
    padding:50px 15px;
    box-shadow: var(--card-shdw);
    background-color: var(--white-1);
    border-radius: 5px;
    width:200px;
    text-decoration: none !important;
    overflow:hidden;
    text-align: center;
}
