.statisticspopupRow_left1{
    height:15px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding: 5px;
    padding-inline-end: 20px;
    width:calc(100% - 20px);
    background-color: var(--white-1);
    white-space: nowrap;
}
.statisticspopupRow_left2{
    height:15px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding: 5px;
    padding-inline-end: 20px;
    width:calc(100% - 20px);
    background-color: var(--white-2);
    white-space: nowrap;
}
.statisticspopupRow_right1{
    height:15px;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding: 5px;
    width:calc(100% - 10px);
    background-color: var(--white-1);
    white-space: nowrap;
}
.statisticspopupRow_right2{
    height:15px;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding: 5px;
    width:calc(100% - 10px);
    background-color: var(--white-2);
    white-space: nowrap;
}
////
.statisticsDonutStroke{
    transition-duration: 500ms;
    fill:none;
    stroke-linecap: butt;
    transform-origin: center;
    stroke-dasharray: 376.5;
    cursor: pointer;
}

.statisticsDonutStroke:hover{
    stroke-width:60;
}
.strokeWidth40{
    stroke-width: 40;
}
.strokeWidth45{
    stroke-width: 45;
}
.strokeWidth50{
    stroke-width: 50;
}
/////////////
.statistics-ArrowGreen{
    color: var(--green);
    background-color:var(--green-5);
    border-radius: 5px;
    padding:2px 5px;
}
.statistics-ArrowRed{
    color: var(--red);
    background-color:var(--red-5);
    border-radius: 5px;
    padding:2px 5px;
}
.statistics-ArrowBlue{
    color: var(--blue);
    background-color:var(--blue-5);
    border-radius: 5px;
    padding:2px 5px;
}
//
.statisticsGraph_path{transition-duration: 200ms !important;pointer-events: none;}
.statisticsGraph_circle{transition-duration: 200ms !important;cursor: pointer;}
.statisticsGraph_circle:hover{r:7}
text{fill:var(--txt-1)}
///


//
.statistics_overviewHeadElem{
    padding:20px;
    margin-inline-end:10px;
    margin-bottom:10px;
    flex-grow: 1;
    border-radius: 5px;
    box-shadow: var(--card-shdw);
    background-color: var(--white-1);
    font-size: .9em;
    // color:rgba(0, 0, 0, 0.2)
}
.statistics_overview_graphs_container{
    width:100%;
    padding:40px 0;
    border-bottom:1px solid var(--white-3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.statistics_overview_orders_income{
    border-left:1px solid var(--white-3);
    padding-inline-start: 60px;
}
.statistics_overview_orders{
    padding-inline-end: 60px;
}
//
.statistics_ordersHeadElem{
    padding:20px;
    margin-inline-end:10px;
    flex-grow: 1;
    border-radius: 5px;
    box-shadow: var(--card-shdw);
    background-color: var(--white-1);
    font-size: .9em;
    cursor: pointer;
    border-bottom:2px solid transparent;
}
.statistics_ordersHeadElem_selected{
    border-bottom:2px solid var(--green);
    color:var(--green);
}
.statistics_topProductElem{
    margin:20px;
    padding:20px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: var(--card-shdw);
    background-color: var(--white-1);
    font-size: .9em;
}
.statistics_userOrdersHeadElem{
    padding:20px;
    margin-top: 10px;;
    margin-inline-start:10px;
    flex-grow: 1;
    border-radius: 5px;
    box-shadow: var(--card-shdw);
    background-color: var(--white-1);
    font-size: .9em;
    cursor: pointer;
    border-bottom:2px solid transparent;
}
.statistics_userOrdersHeadElem_selected{
    border-bottom:2px solid var(--green);
    color:var(--green);
}
//
.statistics_productsProductElem{
    padding:5px;
    margin-top:10px;
    margin-inline-end:10px;
    flex-grow: 1;
    border-radius: 5px;
    box-shadow: var(--card-shdw);
    background-color: var(--white-1);
    font-size: .9em;
    min-width: 200px;
}
.statistics_productsProductElem_table tr:hover{background-color: unset;}
.statistics_productsProductElem_table td{
    font-size: 1em;
    padding:5px;
}
.statistics_productsProductElem_table td:nth-child(1){
    padding-inline-end: 100px;
}
.statistics_productsProductElem_table td:nth-child(2){
    text-align: end;
}
.statistics_productsProductElem_table td:nth-child(3){
    padding-inline-start: 30px;
    text-align: end;
}
.statistics_productsProduct_backBtn{
    all:unset;
    padding:5px;
    margin:0 2px;
    margin-inline-end:15px;
    height: 40px;;
    font-size: 1.5em;
    border-radius: 5px;
    transition-duration: 100ms;
    cursor: pointer;
    position: relative;
    background-color: var(--white-1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.statistics_productsProduct_backBtn:hover{
    background-color: var(--white-2);
}
//
.statistics_usersUserElem{
    padding:5px;
    margin-top:10px;
    margin-inline-end:10px;
    flex-grow: 1;
    border-radius: 5px;
    box-shadow: var(--card-shdw);
    background-color: var(--white-1);
    font-size: .9em;
    min-width: 200px;
}
.statistics_usersUserElem_table tr:hover{background-color: unset;}
.statistics_usersUserElem_table td{
    font-size: 1em;
    padding:5px;
}
.statistics_usersUserElem_table_td_pis-10{padding-inline-start: 10px !important;}
.statistics_usersUserElem_table td:nth-child(1){
    padding-inline-end: 100px;
}
.statistics_usersUserElem_table td:nth-child(2){
    text-align: end;
}
.statistics_usersUserElem_table td:nth-child(3){
    padding-inline-start: 30px;
    text-align: end;
}
.statistics_usersUser_backBtn{
    all:unset;
    padding:5px;
    margin:0 2px;
    margin-inline-end:10px;
    height: 40px;;
    font-size: 1.5em;
    border-radius: 5px;
    transition-duration: 100ms;
    cursor: pointer;
    position: relative;
    background-color: var(--white-1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.statistics_usersUser_backBtn:hover{
    background-color: var(--white-2);
}
//
.statistics_deliveriesDeliveryElem{
    padding:5px;
    margin-top:10px;
    margin-inline-end:10px;
    flex-grow: 1;
    border-radius: 5px;
    box-shadow: var(--card-shdw);
    background-color: var(--white-1);
    font-size: .9em;
    min-width: 200px;
}
.statistics_deliveriesDeliveryElem_table tr:hover{background-color: unset;}
.statistics_deliveriesDeliveryElem_table td{
    font-size: 1em;
    padding:5px;
}
.statistics_deliveriesDeliveryElem_table_td_pis-10{padding-inline-start: 10px !important;}
.statistics_deliveriesDeliveryElem_table td:nth-child(1){
    padding-inline-end: 100px;
}
.statistics_deliveriesDeliveryElem_table td:nth-child(2){
    text-align: end;
}
.statistics_deliveriesDeliveryElem_table td:nth-child(3){
    padding-inline-start: 30px;
    text-align: end;
}
.statistics_deliveriesDelivery_backBtn{
    all:unset;
    padding:5px;
    margin:0 2px;
    margin-inline-end:10px;
    height: 40px;;
    font-size: 1.5em;
    border-radius: 5px;
    transition-duration: 100ms;
    cursor: pointer;
    position: relative;
    background-color: var(--white-1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.statistics_deliveriesDelivery_backBtn:hover{
    background-color: var(--white-2);
}
//
