@font-face {
    font-family: 'Nunito';
    src: url('/storage/fonts/en/Nunito.ttf') format("truetype");
}
@font-face {
    font-family: 'inter';
    src: url('/storage/fonts/en/inter.ttf') format("truetype");
}
*{-webkit-tap-highlight-color: transparent;}
.inter{font-family: 'inter', sans-serif;}

@import '../page_loading.scss';
@import '../cpanel/tools/icons';
@import '../cpanel/tools/scrollBar';
@import '../cpanel/tools/loading';

@import '../help/tools/header.scss';
@import '../help/tools/mobileNav.scss';
@import '../help/tools/nav.scss';
@import '../help/tools/footer.scss';
@import '../help/tools/search.scss';

@import '../help/pages/home.scss';
@import '../help/pages/cat.scss';
@import '../help/pages/article.scss';

html{height:100%;width:100%;}
body{
    user-select: none;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    font-family: 'Nunito', sans-serif;
    background-color: var(--white-1);
    color:var(--txt-1);
    overflow: hidden;
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    // @media (max-width:500px) {
    //     font-size: .9em;
    // }
}
a{
    text-decoration: none;
    cursor: pointer;
    color: var(--green);
}
a:hover{
    color: var(--txt-1);
    text-decoration: none;
}
main{
    @media (max-width:1024px) {
        width:100%;
    }
    width:calc(100% - 300px);
    height:calc(100% - 70px);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.main_home{
    margin-top:0;
    height:calc(100%);
}
.main_full{
    width:100%;
}

.page{
    padding:20px;
    width:calc(100% - 40px);
    transition-duration: 200ms;
    max-width:1000px;
    @media (max-width:720px) {
        padding:10px;
        width:calc(100% - 20px);
    }
}
.page_home{margin-top:0;padding:0px;width:100%;max-width:100%;}

.page_hidden{
    opacity: 0;
}
#tooltip{
    display:none;
    position: absolute;
    z-index: 1000;
    background-color: var(--white-1);
    color:var(--txt-1);
    font-size: .8em;
    padding:5px;
    border-radius: 5px;
    max-width:300px;
    box-shadow: 0 0 4px 1px var(--shdw-10);
    font-family: 'Nunito', sans-serif;
    text-align: start;
    animation-name: tooltipAnimation;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes tooltipAnimation {
    0%{opacity:0;transform: translateY(5px);}
    80%{opacity:0;transform: translateY(5px);}
    100%{opacity:1;transform: translateY(0px);}
}
@import '../style/style.scss'
