.mobileNav{
    background-color: var(--white-1);
    z-index:8;
    position: absolute;
    top:70px;
    left:0px;
    bottom:0px;
    right:0px;
    width:calc(100%);
    height:calc(100% - 70px);
    transition-duration: 300ms;
    overflow: hidden;
    color:var(--txt-1);
    opacity:1;
    @media (min-width:1025px) {
        display:none;
    }
}
.mobileNav_hidden{
    height:0px;
    opacity:0;
}
.mobileNav_Body{
    overflow-y: auto;
    padding:5px;
    width:calc(100% - 10px);
    height: calc(100% - 45px);
    overscroll-behavior:contain;
}
