nav{
    margin-top:70px;
    padding-top:10px;
    padding-bottom:20px;
    width:299px;
    @media (max-width:1024px) {
        display:none;
    }
    border-right:1px solid var(--inptbr);
    overflow-y:scroll;
    height:calc(100% - 100px);
    transition-duration: 250ms;
}
.nav_hidden{
    width:0;
    border-right:none;
}
.navGroup{
    margin:10px;
    display: block;
}
.navGroup_open{
    .navGroupHeadArrow{
        transform: rotateZ(90deg);
    }
    .navArticles{
        max-height:1000px;
    }
    .navGroupHeadName{
        font-weight: bold;
        color:var(--a);
    }
}
.navGroupHead{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    color:var(--c1txt);
    width:fit-content;
}

.navGroupHeadArrow{
    font-size:.7em;
    margin-inline-end:5px;
    transition-duration: 150ms;
}

.navArticles{
    margin:0px;
    padding-inline-start: 15px;
    max-height:0;
    overflow:hidden;
    transition-duration: 250ms;
}


.navArticleA{
    color:var(--placeholder2);
    cursor: pointer;
}
.navArticleA:hover{
    color:var(--placeholder2);
}

.navArticle{
    // margin:10px 15px;
    margin:0 0 0 10px;
    padding:5px 15px 5px 0;
    font-size: .9em;
    color:var(--placeholder2);
}
.navArticleA_selected{
    color:var(--a) ;
    font-weight:bold;
}
.navArticleA_selected:hover{
    color:var(--a) ;
    font-weight:bold;
}

