.reviewsMoreFiltersContainer{
    opacity:0;
    overflow: hidden;
    transition-duration: 200ms;
    max-height: 0px;
}
.reviewsMoreFiltersContainer_show{
    opacity: 1;
    max-height: 500px;
    overflow: visible;
}
.productReviewContainer{
    padding:10px;
    border-radius: 5px;
    margin:20px auto;
    background-color: var(--white-1);
    color:var(--txt-1);
    box-shadow:var(--card-shdw);
    text-align: start;
    max-width: 600px;
    position: relative;
}
.productReviewContainer:hover{
    .deleteProductReview{display: block;}
}
.deleteProductReview{
    position: absolute;
    font-size: 1.2em;
    top:5px;
    right:5px;
    display: none;
}
.deleteProductReview:hover{
    color:var(--red)
}
