.reviewsMoreFiltersContainer{
    opacity:0;
    overflow: hidden;
    transition-duration: 200ms;
    max-height: 0px;
}
.reviewsMoreFiltersContainer_show{
    opacity: 1;
    max-height: 500px;
    overflow: visible;
}
.productReviewContainer{
    padding:10px;
    border-radius: 5px;
    margin:20px auto;
    background-color: var(--white-1);
    color:var(--txt-1);
    box-shadow:var(--card-shdw);
    text-align: start;
    max-width: 600px;
    position: relative;
}
.productReviewContainer:hover{
    .deleteProductReview{display: block;}
}
.deleteProductReview{
    position: absolute;
    font-size: 1.2em;
    top:5px;
    right:5px;
    display: none;
}
.deleteProductReview:hover{
    color:var(--red)
}
// #productReviews-reviewsContainer{
//     width:100%;
//     margin-top:20px;
//     margin-bottom:20px;
//     display:flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: flex-start;
// }

// .productReviewContainer{
//     margin: 10px 20px;
//     padding:10px;
//     width:calc(100% - 60px);
//     display:flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: flex-start;
//     border-radius: 3px;
//     background-color: var(--c2);
//     box-shadow: 0 0 2px 0px var(--shdw-10);
// }
// .productReviews-reviewsContainer_loading{
//     width:100%;
//     margin-top:20px;
//     margin-bottom:20px;
//     display:flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: flex-start;
// }

// .productReviewContainer_loading{
//     margin: 10px 20px;
//     padding:10px;
//     width:calc(100% - 60px);
//     display:flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: flex-start;
//     border-radius: 3px;
//     background-color: var(--c2);
//     box-shadow: 0 0 2px 0px var(--shdw-10);
// }
// .reviewsMoreFiltersContainer{
//     width:100%;
//     max-height:0px;
//     transition-duration: .3s;
//     overflow: hidden;
//     opacity:0;
// }
// .reviewsMoreFiltersContainer_expand{
//     max-height:400px;
//     overflow: visible;
//     opacity:1;
// }
