.brdrT0{border-top:0px;}
.brdrB0{border-bottom:0px;}
.brdrL0{border-left:0px;}
.brdrR0{border-right:0px;}

.brdrT1{border-top:1px solid var(--white-2);}
.brdrB1{border-bottom:1px solid var(--white-2);}
.brdrL1{border-left:1px solid var(--white-2);}
.brdrR1{border-right:1px solid var(--white-2);}

.brdrT2{border-top:2px solid var(--white-2);}
.brdrB2{border-bottom:2px solid var(--white-2);}
.brdrL2{border-left:2px solid var(--white-2);}
.brdrR2{border-right:2px solid var(--white-2);}
