.bgc_trans{background-color: transparent;}


.c_facebook{color:#4267B2;}
.c_twitter{color:#000000;}
.c_linkedin{color:#0A66C2;}
.c_whatsapp{color:#128C7E;}
.c_telegram{color:#0088cc;}
.c_youtube{color:#ff0000;}
.c_instagram{color:#bc2a8d;}

.bgc_facebook{background-color:#4267B2;}
.bgc_twitter{background-color:#000000;}
.bgc_linkedin{background-color:#0A66C2;}
.bgc_whatsapp{background-color:#128C7E;}
.bgc_telegram{background-color:#0088cc;}
.bgc_youtube{background-color:#ff0000;}
.bgc_instagram{background-color:#bc2a8d  ;}


.c_white-1{color:var(--white-1)}
.c_white-2{color:var(--white-2)}
.c_white-3{color:var(--white-3)}
.c_white-4{color:var(--white-4)}
.c_white-5{color:var(--white-5)}
.c_white-6{color:var(--white-6)}
.c_white-7{color:var(--white-7)}
.c_white-8{color:var(--white-8)}
.c_white-9{color:var(--white-9)}
.c_white-10{color:var(--white-10)}

.bgc_white-1{background-color:var(--white-1)}


.c_txt1{color:var(--txt-1)}
.c_txt2{color:var(--txt-2)}

.cO{color:var(--orange)}
.cOtxt{color:var(--orange-txt)}
.cG{color:var(--green)}
.cGtxt{color:var(--green-txt)}
.cR{color:var(--red)}
.cRtxt{color:var(--red-txt)}
.cB{color:var(--blue)}
.cBtxt{color:var(--blue-txt)}

.bgc_O{background-color: var(--orange);}
.bgc_G{background-color: var(--green);}
.bgc_R{background-color: var(--red);}
.bgc_B{background-color: var(--blue);}

.cStar{color:var(--star)}


.c_delivery{color:var(--cdelivery);}
.c_pickup{color:var(--cpickup);}
.c_dineIn{color:var(--cdineIn);}
.c_deliveryT{color:var(--cdeliveryTxt);}
.c_pickupT{color:var(--cpickupTxt);}
.c_dineInT{color:var(--cdineInTxt);}

.bgc_delivery{background-color:var(--cdelivery);}
.bgc_pickup{background-color:var(--cpickup);}
.bgc_dineIn{background-color:var(--cdineIn);}
.bgc_deliveryT{background-color:var(--cdeliveryTxt);}
.bgc_pickupT{background-color:var(--cpickupTxt);}
.bgc_dineInT{background-color:var(--cdineInTxt);}
