.inlineB{display:inline-block}
.block{display:block}

.wrap{flex-wrap: wrap;}
.row{display:flex;flex-direction: row;}
.rowR{display:flex;flex-direction: row-reverse;}
.column{display:flex;flex-direction: column;}
.column-400{@media (max-width:400px){flex-direction: column;}}

.alnS{align-items:flex-start}
.alnSH{align-items:stretch}
.alnC{align-items:center}
.alnE{align-items:flex-end}
.alnBL{align-items: baseline}

.jstfyC{justify-content: center}
.jstfyS{justify-content: flex-start}
.jstfyE{justify-content: flex-end}
.jstfySB{justify-content: space-between;}
.jstfySA{justify-content: space-around;}
.jstfySH{justify-content: stretch;}

.jstfysS{justify-self: flex-start;}
.jstfysE{justify-self: flex-end;}
.alnsS{align-self: flex-start}
.alnsE{align-self: flex-end}
.alnsC{align-self: center}
.alnsSH{align-self:stretch}

.shrink0{flex-shrink: 0;}
.grow1{flex-grow: 1;}
.grow2{flex-grow: 2;}
.basis0{flex-basis:0}


//
