.footer{
    position:relative;
    height: 4em;
    width:100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: $color-dark;
    color:$color-light;
    border: 0 ;
    border-top: .2em solid $color-light;

    margin: 0;
    padding: 0;
 
}