.installContainer{
    width: 80%;
    height: 1em;
    background-color: $bg-light;
    border: .1em solid $color-dark;
    border-radius: .2em;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 2em;
}
.installPrograss{
    background-color: $color-light;
    position: absolute;
    width: 80%;
    height: .9em;
    border-radius: .2em .2em .2em .2em;
    animation-name: install;
    animation-duration: 20s ;
    animation-iteration-count: 1;

}
@keyframes install {
    0%{width:0%;border-radius: .2em 0 0 .2em;}
    10%{width:4%;border-radius: .2em 0 0 .2em;}
    20%{width:15%;border-radius: .2em 0 0 .2em;}
    30%{width:22%;border-radius: .2em 0 0 .2em;}
    40%{width:25%;border-radius: .2em 0 0 .2em;}
    50%{width:30%;border-radius: .2em 0 0 .2em;}
    60%{width:49%;border-radius: .2em 0 0 .2em;}
    70%{width:60%;border-radius: .2em 0 0 .2em;}
    80%{width:62%;border-radius: .2em 0 0 .2em;}
    90%{width:77%;border-radius: .2em 0 0 .2em;}
    100%{width:80%;}

}
