.menu{
    position: fixed;
    z-index: 40;
    top: 0;
    background-color: $bg-dark;
    height:3em;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 .4em .1em $color-dark;
    -webkit-user-select: none;
    }
.menu-logo{
    z-index: 40;
    margin-left:.5em;
}
.menu-items-pc{
    z-index: 40;
    @media (min-width:601px) {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        margin-right:1em;

    } 
    @media (max-width:601px) {
        display: none;
    } 

}
.menu-items-mobile{
    z-index: 40;
    @media (max-width:600px) {
        margin-right:1em;

    } 
    @media (min-width:600px) {
        display: none;
    } 

}
.menu-pc-item{
    z-index: 40;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: .4em .8em .4em .8em;
    cursor: pointer;
    text-decoration: none;
}
.menu-pc-item-active{
    z-index: 40;
   color:$color-light;
}
// .menu-mobile-item{
//     position: absolute;
//     left:0em;
//     color:$color-light;
//     font-size: 1.2em;
//     z-index: 40;
//     display: flex;
//     justify-content:center;
//     align-items: center;
//     margin-top: 2.5em;
//     cursor: pointer;
//     text-decoration: none;
// }
#home-mobile{
    position: absolute;
    top:8em;
    width:100%;
    left:-1vw;
    color:$color-light;
    font-size: 1.2em;
    z-index: 40;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 2.5em;
    cursor: pointer;
    text-decoration: none;
}
#getStarted-mobile{
    position: absolute;
    top:11em;
    left:-1vw;
    width:100%;

    color:$color-light;
    font-size: 1.2em;
    z-index: 40;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 2.5em;
    cursor: pointer;
    text-decoration: none;
}
#login-mobile{
    position: absolute;
    top:14em;
    left:-1vw;
    width:100%;

    color:$color-light;
    font-size: 1.2em;
    z-index: 40;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 2.5em;
    cursor: pointer;
    text-decoration: none;
}
#help-mobile{
    position: absolute;
    top:17em;
    left:-1vw;
    width:100%;

    color:$color-light;
    font-size: 1.2em;
    z-index: 40;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 2.5em;
    cursor: pointer;
    text-decoration: none;
}
#pricing-mobile{
    position: absolute;
    top:20em;
    left:-1vw;
    width:100%;

    color:$color-light;
    font-size: 1.2em;
    z-index: 40;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 2.5em;
    cursor: pointer;
    text-decoration: none;
}
.menu-mobile-item-active{
    z-index: 40;
   color:$text-light !important;
}

.menu-items-mobile-drop{
    padding-top: 6em;
    background-color: $color-dark;
    z-index: 39;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:-120vh;
    @media (min-width:600px) {
        display: none;
    } 
    }