

.absolute{position: absolute;}
.relative{position: relative;}
.sticky{position: sticky;}

.t0{top:0}
.t5{top:5px}
.t6{top:6px}
.t10{top:10px}
.t-11{top:-11px}
.t-15{top:-15px}
.t-20{top:-20px}
.t-25{top:-25px}

.lU{left:unset}
.l0{left:0}
.l6{left:6px;}
.l8{left:8px;}

.r0{right:0}
.r10{right:10px}
