.zx0{z-index:0;}
.zx1{z-index:1;}
.zx2{z-index:2;}
.zx3{z-index:3;}
.zx4{z-index:4;}
.zx5{z-index:5;}
.zx6{z-index:6;}
.zx7{z-index:7;}
.zx8{z-index:8;}
.zx9{z-index:9;}
.zx10{z-index:10;}
.zx10{z-index:10;}
.zx20{z-index:20;}
.zx30{z-index:30;}
.zx40{z-index:40;}
.zx50{z-index:50;}
.zx60{z-index:60;}
.zx70{z-index:70;}
.zx80{z-index:80;}
.zx90{z-index:90;}
.zx100{z-index:100;}
.zx100{z-index:100;}
.zx200{z-index:200;}
.zx300{z-index:300;}
.zx400{z-index:400;}
.zx500{z-index:500;}
.zx600{z-index:600;}
.zx700{z-index:700;}
.zx800{z-index:800;}
.zx900{z-index:900;}
.zx1000{z-index:1000;}
.zx2000{z-index:2000;}
.zx3000{z-index:3000;}
.zx4000{z-index:4000;}
.zx5000{z-index:5000;}
.zx6000{z-index:6000;}
.zx7000{z-index:7000;}
.zx8000{z-index:8000;}
.zx9000{z-index:9000;}
.zx10000{z-index:10000;}
