.btn{
    position: relative;
    min-width: 80px;
    padding:3px 5px;
    font-size: .9em;
    background-color: var(--green);
    color:var(--green-txt);
    border-radius: 3px;
    cursor: pointer;
    border:none;
    outline: none;
    transition-duration: .1s;
    border:1.5px solid transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito','inter','Tajawal', sans-serif;
    box-shadow: 0 0 1px 0px var(--green-30);
}
.btn:hover{
    background-color: var(--green-80);
}
.btn:active{
    background-color: var(--green);
}
//
.btn-cancel{
    background-color:var(--white);
    border:1.5px solid var(--green-30);
    color:var(--green-80);
}
.btn-cancel:hover{
    background-color: var(--green-5);
}
.btn-cancel:active{
    background-color:transparent;
}
//
.btn-delete{
    border:1.5px solid var(--red-80);
    background-color: var(--red-80);
    color:var(--red-txt);
}
.btn-delete:hover{
    border:1.5px solid var(--red);
    background-color: var(--red);
    color:var(--red-txt);
}
.btn-delete:active{
    border:1.5px solid var(--red-80);
    background-color: var(--red-80);
    color:var(--red-txt);
}
//
.btn-warning{
    border:1.5px solid var(--orange-80);
    background-color: var(--orange-80);
    color:var(--orange-txt);
}
.btn-warning:hover{
    border:1.5px solid var(--orange);
    background-color: var(--orange);
    color:var(--orange-txt);
}
.btn-warning:active{
    border:1.5px solid var(--orange-80);
    background-color: var(--orange-80);
    color:var(--orange-txt);
}
//
.btn:disabled{
    background-color: var(--white-4);
    color: var(--white-10);
    cursor: not-allowed;
    border:1.5px solid  var(--white-4);
}
.btn:disabled:hover{
    background-color: var(--white-4);
}
.btn:disabled:active{
    background-color: var(--white-4);
}
