.editor_popup{
    background-color: var(--white-1);
    color:var(--txt-1);
    box-shadow: 0 0 10px 2px var(--shdw-10), 0 0 10px 0px var(--shdw-30);
    border-radius: 3px;
    position: fixed;
    flex-wrap: nowrap;
    z-index: 180;
    transition-duration: 50ms;
    max-height:80%;
    height:auto;
    min-height: auto;
    animation:300ms editor_popup_animation 0s 1 ease;
    overflow: hidden;
}
@keyframes editor_popup_animation {
    0%{transform: translateY(-5px);opacity:0;}
    100%{transform: translateY(0px);opacity:1;}
}
.editor_popup_flash{
    animation:500ms editor_popup_flash 0s 3 ease;
}
@keyframes editor_popup_flash {
    0%{box-shadow: 0 0 1px 0px var(--shdw-10), 0 0 15px 0px var(--shdw-20);}
    50%{box-shadow: 0 0 1px 0px var(--shdw-10), 0 0 5px 0px var(--shdw-10);}
    100%{box-shadow: 0 0 1px 0px var(--shdw-10), 0 0 15px 0px var(--shdw-20);}
}

.editor_popup_head{
    width:calc(100% - 10px);
    text-align: center;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:30px;
    padding:10px 5px;
    border-bottom:1px dashed var(--white-4);
}
.editor_popup_title{
    line-height: 1em;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.editor_popup_back_Btn{
    cursor: pointer;
    font-size: 1.1em;
}
.editor_popup_body_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
    overflow:auto;
    height: calc(100% - 50px);
    scrollbar-width: thin;
    position: relative;
}
.editor_popup_body_shortcuts{
    height:100%;
    position: sticky;
    top:0;
    max-height: 10000px;
    background-color: var(--white-2);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    direction: rtl;
    flex-shrink: 0;
    width:55px;
    
}
.editor_popup_body_shortcut{
    font-size: 1.3em;
    padding:15px;
    height:50px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right:-1px;
    color:var(--white-11);
    display: flex;
    align-items: center;
    justify-content: center;
}
.editor_popup_body_shortcut_dump{
    color:var(--white-5);
    pointer-events: none;
}
.editor_popup_body_shortcut:hover{
    background-color: var(--white-3);
}
.editor_popup_body_shortcut_selected{
    background-color: var(--white-1);
    border:1px solid var(--white-3);
    border-right:none;
    color:var(--txt-1);
}
.editor_popup_body_shortcut_selected:hover{
    background-color: var(--white-1);
}
.editor_popup_body_shortcut_group{
    max-height:50px;
    overflow: hidden;
    transition-duration: 400ms;
    border-top:2px solid transparent;
    border-bottom:2px solid transparent;
}
.editor_popup_body_shortcut_group:hover{
    max-height: 300px;
    height:auto;
    border-top:2px solid var(--orange-50);
    border-bottom:2px solid var(--orange-50);
}
.editor_popup_body_shortcut_open_group{
    font-size: 1.3em;
    padding:15px;
    height:50px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right:-1px;
    color:var(--white-11);
    display: flex;
    align-items: center;
    justify-content: center;
}
.editor_popup_body_shortcut_open_group_selected{
    background-color: var(--white-1);
    border:1px solid var(--white-3);
    border-right:none;
    color:var(--txt-1);
}
//
.editor_popup_body{
    position: relative;
    flex-grow: 1;
    padding:0;
    height:100%;
    width:calc(100% - 55px);
}
.editor_popup_OnMove{opacity:.8;transition-duration: 0ms;}
.editor_popup_dump{
    z-index: 170;
    box-shadow: 0 0 1px 0px var(--shdw-10), 0 0 5px 0px var(--shdw-10);
    opacity:.8;
}

.editor_popup_slide_0_to_left{
    animation-name: editor_popup_slide_0_to_left;
    animation-duration:150ms;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    display:none;
}
@keyframes editor_popup_slide_0_to_left {
    0%{opacity:1;transform: translateX(0);display:block}
    100%{opacity:0;transform: translateX(-200px);display:block}
}
.editor_popup_slide_right_to_0{
    animation-name: editor_popup_slide_right_to_0;
    animation-duration:150ms;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    display:none;
}
@keyframes editor_popup_slide_right_to_0 {
    0%{opacity:0;transform: translateX(200px);}
    100%{opacity:1;transform: translateX(0);}
}
.editor_popup_slide_0_to_right{
    animation-name: editor_popup_slide_0_to_right;
    animation-duration:150ms;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    display:none;
}
@keyframes editor_popup_slide_0_to_right {
    0%{opacity:1;transform: translateX(0);display:block}
    100%{opacity:0;transform: translateX(200px);display:block}
}
.editor_popup_slide_left_to_0{
    animation-name: editor_popup_slide_left_to_0;
    animation-duration:150ms;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    display:none;
}
@keyframes editor_popup_slide_left_to_0 {
    0%{opacity:0;transform: translateX(-200px);}
    100%{opacity:1;transform: translateX(0);}
}
//
.editor_popup_row{
    min-height: 40px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:1px solid var(--white-3);
    padding:18px 5px;
    margin:0px 10px;
    width:calc(100% - 20px);
    box-sizing: border-box;
}
.editor_popup_row > div:nth-child(1){white-space: nowrap;text-align:start;margin-inline-end:10px;}
.editor_popup_row > div:nth-child(2){display: flex;align-items: center;justify-content: flex-end;}
.editor_popup_col{
    min-height: 40px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-top:1px solid var(--white-3);
    padding:18px 5px;
    margin:0px 10px;
    width:calc(100% - 20px);
    box-sizing: border-box;
}
.editor_popup_col > div:nth-child(1){white-space: nowrap;text-align:start;margin-bottom:10px;}
.editor_popup_col > div:nth-child(2){align-self: center;}

.editor_popup_brdrB{
    border-bottom:1px solid var(--white-3);
}
.editor_popup_brdrT{
    border-top:1px solid var(--white-3);
}
.editor_popup_brdrT_none{
    border-top:none !important;
}
.editor_popup_brdrB_none{
    border-bottom:none !important;
}
.editor_popup_row_sticky{
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: var(--white-1);
}
