@import '../tools/editors/animations.scss';//
@import '../tools/editors/aspect_ratio_editor.scss';
@import '../tools/editors/background_filter.scss';//
@import '../tools/editors/border_editor.scss';
@import '../tools/editors/box_shadow_editor.scss';//
@import '../tools/editors/button_function.scss';//
@import '../tools/editors/color_picker.scss';
@import '../tools/editors/elem_text_editor.scss';
@import '../tools/editors/font_style_picker.scss';
@import '../tools/editors/four_number_pickers.scss';
@import '../tools/editors/gradient_editor.scss';
@import '../tools/editors/groups.scss';//
@import '../tools/editors/svg_icon_picker.scss';//need to be done
@import '../tools/editors/imgs.scss';//
@import '../tools/editors/inputList.scss';//
@import '../tools/editors/number_picker.scss';//
@import '../tools/editors/png_icon_selector.scss';//
@import '../tools/editors/rename.scss';//
@import '../tools/editors/responsive_selector.scss';//
@import '../tools/editors/interactions_selector.scss';//
@import '../tools/editors/select_box.scss';//
@import '../tools/editors/select_range.scss';//
@import '../tools/editors/switch_button.scss';
@import '../tools/editors/timing_functions.scss';
@import '../tools/editors/transform_editor.scss';
@import '../tools/editors/loading_spinners_picker.scss';
//

.tabs_container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-start;
    margin:20px;
}
.tab{
    margin-inline-end:20px;
    cursor: pointer;
    padding-bottom:5px;
    white-space: nowrap;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tab_selected{
    border-bottom:1px solid var(--green);
    color:var(--green);
    font-weight: 700;
}
//
.editor_detail_container{
    transform: translateY(-10px);
    transition-duration: 100ms;
    opacity: 0;
    visibility: hidden;
}
.editor_detail_container_show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.editor_details_toggle{
    cursor: pointer;
    font-size: .9em;
    margin-inline-end:5px;
}
//
.editor_btn{
    border-radius: 3px;
    background-color: var(--white-1);
    color:var(--text-1);
    margin:5px;
    padding:5px;
    box-shadow: 0 0 3px var(--shdw-20);
    cursor: pointer;
}
.editor_btn:hover{
    background-color: var(--white-2);
}
.editor_btn:active{
    background-color: var(--white-1);
}