.editor_popup{
    background-color: var(--white-1);
    color:var(--txt-1);
    box-shadow: 0 0 1px 0px var(--shdw-10), 0 0 15px 0px var(--shdw-20);
    border-radius: 5px;
    position: fixed;
    flex-wrap: nowrap;
    z-index: 180;
    transition-duration: 0s;
    width:calc(400px - 20px);
    max-height:80%;
    height:800px;
    animation:200ms editor_popup_animation 0s 1 ease;
}
@keyframes editor_popup_animation {
    0%{transform: translateY(-5px);opacity:0;}
    100%{transform: translateY(0px);opacity:1;}
}
.editor_popup_resizeIcon{
    position: absolute;
    bottom:-0px;
    right:-0px;
    padding:10px;
    font-size: .8em;
    z-index: 10;
    cursor:nwse-resize;
    opacity: .5;
}
.editor_popup_head{
    width:calc(100% - 20px);
    text-align: center;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:20px;
    padding:10px;
    border-bottom:1px dashed var(--white-4);
}
.editor_popup_body{
    position: relative;
    overflow:auto;
    height:calc(100% - 61px);
    padding:10px;

}
.editor_popup_OnMove{opacity:.8}
.editor_popup_dump{
    z-index: 170;
    box-shadow: 0 0 1px 0px var(--shdw-10), 0 0 5px 0px var(--shdw-10);
}

.editor_popup_slide_0_to_left{
    animation-name: editor_popup_slide_0_to_left;
    animation-duration:150ms;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    display:none;
}
@keyframes editor_popup_slide_0_to_left {
    0%{opacity:1;transform: translateX(0);display:block}
    100%{opacity:0;transform: translateX(-200px);display:block}
}
.editor_popup_slide_right_to_0{
    animation-name: editor_popup_slide_right_to_0;
    animation-duration:150ms;
    animation-iteration-count: 1;
    animation-timing-function:ease;
}
@keyframes editor_popup_slide_right_to_0 {
    0%{opacity:0;transform: translateX(200px);}
    100%{opacity:1;transform: translateX(0);}
}
.editor_popup_slide_0_to_right{
    animation-name: editor_popup_slide_0_to_right;
    animation-duration:150ms;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    display:none;
}
@keyframes editor_popup_slide_0_to_right {
    0%{opacity:1;transform: translateX(0);display:block}
    100%{opacity:0;transform: translateX(200px);display:block}
}
.editor_popup_slide_left_to_0{
    animation-name: editor_popup_slide_left_to_0;
    animation-duration:150ms;
    animation-iteration-count: 1;
    animation-timing-function:ease;
}
@keyframes editor_popup_slide_left_to_0 {
    0%{opacity:0;transform: translateX(-200px);}
    100%{opacity:1;transform: translateX(0);}
}
