
.bgc_1{background-color: var(--color_1);}
.bgc_2{background-color: var(--color_2);}
.bgc_3{background-color: var(--color_3);}
.bgc_4{background-color: var(--color_4);}

.c_1{color: var(--color_1);}
.c_2{color: var(--color_2);}
.c_3{color: var(--color_3);}
.c_4{color: var(--color_4);}

.color_1_2{background-color: var(--color_1);color:var(--color_2);}
.color_1_3{background-color: var(--color_1);color:var(--color_3);}
.color_1_4{background-color: var(--color_1);color:var(--color_4);}

.color_2_1{background-color: var(--color_2);color:var(--color_1);}
.color_2_3{background-color: var(--color_2);color:var(--color_3);}
.color_2_4{background-color: var(--color_2);color:var(--color_4);}

.color_3_1{background-color: var(--color_3);color:var(--color_1);}
.color_3_2{background-color: var(--color_3);color:var(--color_2);}
.color_3_4{background-color: var(--color_3);color:var(--color_4);}

.color_4_1{background-color: var(--color_4);color:var(--color_1);}
.color_4_2{background-color: var(--color_4);color:var(--color_2);}
.color_4_3{background-color: var(--color_4);color:var(--color_3);}

.bgc_star{background-color: var(--color_star);}
.bgc_success{background-color: var(--color_success);}
.bgc_error{background-color: var(--color_error);}
.bgc_warning{background-color: var(--color_warning);}

.c_star{color: var(--color_star);}
.c_success{color: var(--color_success);}
.c_error{color: var(--color_error);}
.c_warning{color: var(--color_warning);}
