
.form{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width:fit-content;
    //
    align-items: var(--form-align-items);
}
//
input[type='number'] {-moz-appearance:textfield;}input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none;}
//
.input{
    margin-bottom:var(--input-margin-bottom);
    max-width: var(--input-max-width);
    box-sizing: var(--input-box-sizing);
    outline-style: var(--input-outline-style);
    outline-width: var(--input-outline-width);
    outline-color: var(--input-outline-color);
    //
    font-family: var(--input-font_name);
    line-height: var(--input-font_line_height);
    letter-spacing: var(--input-font_letter_spacing);
    //
    text-align: var(--input-text-align);
    padding-block: var(--input-padding-block);
    padding-inline: var(--input-padding-inline);
    font-size:var(--input-font-size);
    color:var(--input-color);
    background-color: var(--input-background-color);
    border-color:var(--input-border-color);
    border-style:var(--input-border-style);
    border-width:var(--input-border-width);
    border-top-left-radius: var(--input-border-top-left-radius);
    border-top-right-radius: var(--input-border-top-right-radius);
    border-bottom-right-radius: var(--input-border-bottom-right-radius);
    border-bottom-left-radius: var(--input-border-bottom-left-radius);
    box-shadow: var(--input-box-shadow);
    transition-duration: var(--input-transition-duration);
}
.input:focus{
    outline-style: var(--input-focus-outline-style);
    //
    background-color: var(--input-focus-background-color);
    color:var(--input-focus-color);
    outline-width: var(--input-focus-outline-width);
    outline-color: var(--input-focus-outline-color);
    box-shadow: var(--input-focus-box-shadow);
}
.input:read-only{
    cursor: var(--input-read-only-cursor);
}
.input_label{
    font-family: var(--input_label-font_name);
    line-height: var(--input_label-font_line_height);
    letter-spacing: var(--input_label-font_letter_spacing);
    //
    color:var(--input_label-color);
    font-size:var(--input_label-font-size);
    margin-inline:var(--input_label-margin-inline);
    margin-bottom:var(--input_label-margin-bottom);
}
textarea{
    resize: none;
}
////
.checkbox{
    fill:var(--checkbox-fill);
    position: var(--checkbox-position);
    border-style:var(--checkbox-border-style);
    border-color:var(--checkbox-border-color);
    cursor: var(--checkbox-cursor);
    border-radius: var(--checkbox-border-radius);
    margin-bottom:var(--checkbox-margin-bottom);
    //
    width:var(--checkbox-width);
    height:var(--checkbox-height);
    border-width:var(--checkbox-border-width);
}
.checkbox_checked{fill: var(--checkbox_checked-fill) !important;}
//
.button1{
    margin-bottom:var(--button1-margin-bottom);
    max-width:100%;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    //
    font-family: var(--button1-font_name);
    line-height: var(--button1-font_line_height);
    letter-spacing: var(--button1-font_letter_spacing);
    //
    padding-block:var(--button1-padding-block);
    padding-inline:var(--button1-padding-inline);
    font-weight: var(--button1-font-weight);
    font-size: var(--button1-font-size);
    color: var(--button1-color);
    background-color: var(--button1-background-color);
    border-top-left-radius: var(--button1-border-top-left-radius);
    border-top-right-radius: var(--button1-border-top-right-radius);
    border-bottom-right-radius: var(--button1-border-bottom-right-radius);
    border-bottom-left-radius: var(--button1-border-bottom-left-radius);
    border-style:var(--button1-border-style);
    border-width:var(--button1-border-width);
    border-color:var(--button1-border-color);
    transition-duration: var(--button1-transition-duration);
    box-shadow: var(--button1-box-shadow);
}
.button1:hover{
    outline-style: solid;
    outline: none;
    //
    color:var(--button1-hover-color);
    background-color:var(--button1-hover-background-color);
    border-top-left-radius: var(--button1-hover-border-top-left-radius);
    border-top-right-radius: var(--button1-hover-border-top-right-radius);
    border-bottom-right-radius: var(--button1-hover-border-bottom-right-radius);
    border-bottom-left-radius: var(--button1-hover-border-bottom-left-radius);
    border-style:var(--button1-hover-border-style);
    border-width:var(--button1-hover-border-width);
    border-color:var(--button1-hover-border-color);
    box-shadow: var(--button1-hover-box-shadow);
}
.button1:active{
    outline-style: solid;
    outline: none;
    //
    color:var(--button1-active-color);
    background-color:var(--button1-active-background-color);
    border-top-left-radius: var(--button1-active-border-top-left-radius);
    border-top-right-radius: var(--button1-active-border-top-right-radius);
    border-bottom-right-radius: var(--button1-active-border-bottom-right-radius);
    border-bottom-left-radius: var(--button1-active-border-bottom-left-radius);
    border-style:var(--button1-active-border-style);
    border-width:var(--button1-active-border-width);
    border-color:var(--button1-active-border-color);
    box-shadow: var(--button1-active-box-shadow);
}
.button1:disabled{
    cursor: not-allowed;
    outline-style: solid;
    outline: none;
    //
    color:var(--button1-disabled-color);
    background-color:var(--button1-disabled-background-color);
    border-top-left-radius: var(--button1-disabled-border-top-left-radius);
    border-top-right-radius: var(--button1-disabled-border-top-right-radius);
    border-bottom-right-radius: var(--button1-disabled-border-bottom-right-radius);
    border-bottom-left-radius: var(--button1-disabled-border-bottom-left-radius);
    border-style:var(--button1-disabled-border-style);
    border-width:var(--button1-disabled-border-width);
    border-color:var(--button1-disabled-border-color);
    box-shadow: var(--button1-disabled-box-shadow);
}
//
.button2{
    margin-bottom:var(--button2-margin-bottom);
    max-width:100%;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    //
    font-family: var(--button2-font_name);
    line-height: var(--button2-font_line_height);
    letter-spacing: var(--button2-font_letter_spacing);
    //
    padding-block:var(--button2-padding-block);
    padding-inline:var(--button2-padding-inline);
    font-weight: var(--button2-font-weight);
    font-size: var(--button2-font-size);
    color: var(--button2-color);
    background-color: var(--button2-background-color);
    border-top-left-radius: var(--button2-border-top-left-radius);
    border-top-right-radius: var(--button2-border-top-right-radius);
    border-bottom-right-radius: var(--button2-border-bottom-right-radius);
    border-bottom-left-radius: var(--button2-border-bottom-left-radius);
    border-style:var(--button2-border-style);
    border-width:var(--button2-border-width);
    border-color:var(--button2-border-color);
    transition-duration: var(--button2-transition-duration);
    box-shadow: var(--button2-box-shadow);
}
.button2:hover{
    outline-style: solid;
    outline: none;
    //
    color:var(--button2-hover-color);
    background-color:var(--button2-hover-background-color);
    border-top-left-radius: var(--button2-hover-border-top-left-radius);
    border-top-right-radius: var(--button2-hover-border-top-right-radius);
    border-bottom-right-radius: var(--button2-hover-border-bottom-right-radius);
    border-bottom-left-radius: var(--button2-hover-border-bottom-left-radius);
    border-style:var(--button2-hover-border-style);
    border-width:var(--button2-hover-border-width);
    border-color:var(--button2-hover-border-color);
    box-shadow: var(--button2-hover-box-shadow);
}
.button2:active{
    outline-style: solid;
    outline: none;
    //
    color:var(--button2-active-color);
    background-color:var(--button2-active-background-color);
    border-top-left-radius: var(--button2-active-border-top-left-radius);
    border-top-right-radius: var(--button2-active-border-top-right-radius);
    border-bottom-right-radius: var(--button2-active-border-bottom-right-radius);
    border-bottom-left-radius: var(--button2-active-border-bottom-left-radius);
    border-style:var(--button2-active-border-style);
    border-width:var(--button2-active-border-width);
    border-color:var(--button2-active-border-color);
    box-shadow: var(--button2-active-box-shadow);
}
.button2:disabled{
    cursor: not-allowed;
    outline-style: solid;
    outline: none;
    //
    color:var(--button2-disabled-color);
    background-color:var(--button2-disabled-background-color);
    border-top-left-radius: var(--button2-disabled-border-top-left-radius);
    border-top-right-radius: var(--button2-disabled-border-top-right-radius);
    border-bottom-right-radius: var(--button2-disabled-border-bottom-right-radius);
    border-bottom-left-radius: var(--button2-disabled-border-bottom-left-radius);
    border-style:var(--button2-disabled-border-style);
    border-width:var(--button2-disabled-border-width);
    border-color:var(--button2-disabled-border-color);
    box-shadow: var(--button2-disabled-box-shadow);
}
//
.button3{
    margin-bottom:var(--button3-margin-bottom);
    max-width:100%;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    //
    font-family: var(--button3-font_name);
    line-height: var(--button3-font_line_height);
    letter-spacing: var(--button3-font_letter_spacing);
    //
    padding-block:var(--button3-padding-block);
    padding-inline:var(--button3-padding-inline);
    font-weight: var(--button3-font-weight);
    font-size: var(--button3-font-size);
    color: var(--button3-color);
    background-color: var(--button3-background-color);
    border-top-left-radius: var(--button3-border-top-left-radius);
    border-top-right-radius: var(--button3-border-top-right-radius);
    border-bottom-right-radius: var(--button3-border-bottom-right-radius);
    border-bottom-left-radius: var(--button3-border-bottom-left-radius);
    border-style:var(--button3-border-style);
    border-width:var(--button3-border-width);
    border-color:var(--button3-border-color);
    transition-duration: var(--button3-transition-duration);
    box-shadow: var(--button3-box-shadow);
}
.button3:hover{
    outline-style: solid;
    outline: none;
    //
    color:var(--button3-hover-color);
    background-color:var(--button3-hover-background-color);
    border-top-left-radius: var(--button3-hover-border-top-left-radius);
    border-top-right-radius: var(--button3-hover-border-top-right-radius);
    border-bottom-right-radius: var(--button3-hover-border-bottom-right-radius);
    border-bottom-left-radius: var(--button3-hover-border-bottom-left-radius);
    border-style:var(--button3-hover-border-style);
    border-width:var(--button3-hover-border-width);
    border-color:var(--button3-hover-border-color);
    box-shadow: var(--button3-hover-box-shadow);
}
.button3:active{
    outline-style: solid;
    outline: none;
    //
    color:var(--button3-active-color);
    background-color:var(--button3-active-background-color);
    border-top-left-radius: var(--button3-active-border-top-left-radius);
    border-top-right-radius: var(--button3-active-border-top-right-radius);
    border-bottom-right-radius: var(--button3-active-border-bottom-right-radius);
    border-bottom-left-radius: var(--button3-active-border-bottom-left-radius);
    border-style:var(--button3-active-border-style);
    border-width:var(--button3-active-border-width);
    border-color:var(--button3-active-border-color);
    box-shadow: var(--button3-active-box-shadow);
}
.button3:disabled{
    cursor: not-allowed;
    outline-style: solid;
    outline: none;
    //
    color:var(--button3-disabled-color);
    background-color:var(--button3-disabled-background-color);
    border-top-left-radius: var(--button3-disabled-border-top-left-radius);
    border-top-right-radius: var(--button3-disabled-border-top-right-radius);
    border-bottom-right-radius: var(--button3-disabled-border-bottom-right-radius);
    border-bottom-left-radius: var(--button3-disabled-border-bottom-left-radius);
    border-style:var(--button3-disabled-border-style);
    border-width:var(--button3-disabled-border-width);
    border-color:var(--button3-disabled-border-color);
    box-shadow: var(--button3-disabled-box-shadow);
}
