@import '../website/colors.scss';
@import '../website/form.scss';

///


.website_body{
    width:100%;
    height:calc(100% - 50px);
    padding:0 var(--page_margin);
    box-sizing: border-box;
    margin:auto;
    overflow: auto;
    .section{
        max-width:var(--page_max_width);
        margin-left:auto;
        margin-right: auto;
    }

}

.font_t{
    font-family: var(--font_t);
    line-height: var(--font_t_lh);
    letter-spacing: var(--font_t_ls);
    font-weight: var(--font_t_fw)
}
.font_p{
    font-family: var(--font_p);
    line-height: var(--font_p_lh);
    letter-spacing: var(--font_p_ls);
    font-weight: var(--font_p_fw)
}
.body_color_theme{
    background-color: var(--body_color_theme_bg);
    color: var(--body_color_theme_txt);
}
