@import '../website/colors.scss';
@import '../website/form.scss';

///

//
.website_body{
    width:100%;
    height:100%;
    box-sizing: border-box;
    margin:auto;
    overflow: auto;
    font-family: var(--font_p);
    line-height: var(--font_p_lh);
    letter-spacing: var(--font_p_ls);
    font-weight: var(--font_p_fw)
}
section{ width:100%;box-sizing:border-box; }
.section_wrapper{ padding:0 var(--page_margin) ; box-sizing: border-box ; max-width:var(--page_max_width) ;margin:auto ; position: relative;}
.section_elements_wrapper{display:flex;flex-direction: column; flex-wrap: nowrap;align-items: flex-start;justify-content: flex-start;box-sizing: border-box;}
.window_height{height:100% ;}
.font_t{
    font-family: var(--font_t);
    line-height: var(--font_t_lh);
    letter-spacing: var(--font_t_ls);
    font-weight: var(--font_t_fw)
}
.font_p{
    font-family: var(--font_p);
    line-height: var(--font_p_lh);
    letter-spacing: var(--font_p_ls);
    font-weight: var(--font_p_fw);
}
.body_color_theme{
    background-color: var(--body_color_theme_bg);
    color: var(--body_color_theme_txt);
}
#page{
    position: relative;
    width:100%;
    height:100%;
}
// .header{

// }
// .footer{

// }
