.animation_preview_container_dump{
    width:120px;
    height:60px;
    cursor: pointer;
    margin:10px 5px;
    border-radius: 1px;
    position: relative;
    overflow: hidden;
    transition-duration: 100ms;
    outline:2px solid var(--white-2);
    outline-offset: 2px;
}

.animation_preview_container{
    width:120px;
    height:60px;
    cursor: pointer;
    margin:10px 5px;
    border-radius: 1px;
    position: relative;
    overflow: hidden;
    transition-duration: 100ms;
    outline:2px solid var(--white-2);
    outline-offset: 2px;
}
.animation_preview_container_selected{
    outline:2px solid var(--green);

}
.animation_preview_container_selected:hover{
    outline:2px solid var(--green);
}
.animation_preview{
    width:120px;
    height:60px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.animation_preview:hover{
    outline:2px solid var(--white-4);
}
.animation_preview_body{
    width:100%;
    height:180px;
    background-color: var(--green-5);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}
.animation_preview_body_top{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color: var(--white);
}
.animation_preview_body_mid{
    position: absolute;
    top:60px;
    left:0;
    width:100%;
    height:60px;
    background-color: var(--green-5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.animation_preview_body_bottom{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:60px;
    background-color: var(--white);
}
.animation_preview_body_dummy_elem{
    height:2px;
    margin:4px;
    border-radius: 4px;
    position: relative;
    background-color: var(--green-20);
}
.animation_preview_scroll{
    position: absolute;
    right:1px;
    top:0px;
    width:4px;
    height:30px;
    background-color: var(--green-50);
    border-radius: 5px;
    transition-duration: 500ms;
    transition-timing-function: ease;
    z-index: 5;
}
.animation_preview_elem{
    width:30px;
    height:30px;
}