.select_border_radius_details{
    position: relative;
    margin-inline-end: 5px;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--txt-1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start:5px;
    font-weight: bold;
}