.border_editor_details_toggle{
    cursor: pointer;
    font-size: .9em;
    margin-inline-end:5px;
}
.border_editor_detail_container{
    transform: translateY(-10px);
    transition-duration: 100ms;
    opacity: 0;
    height:0px;
}
