.button_function_editor{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-end ;
}
.button_function_preview_container{
    box-shadow: 0 0 2px var(--shdw-30);
    border-radius: 3px;
    box-sizing: border-box;
    padding:5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center ;
}
.button_function_preview_img{
    width:20px;
    height:20px;
    object-fit: cover;
    border-radius: 3px;
}
.button_function_preview_icon{
    width:20px;
    height:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}
//
.button_preview{
    margin:10px !important;
    width:fit-content !important;
}
.button_preview_color{
    position: relative;
    width:28px;
    height: 28px;
    border-radius: 3px;
    margin:4px;
    cursor: pointer;
    outline-offset: 1px;
}

.button_preview_color:hover{
    outline: 2px solid var(--white-5);
}
.button_preview_color_selected, .button_preview_color_selected:hover{
    outline: 2px solid var(--green-80);
}

//
.button_preview_border{
    border-left:1px solid var(--white-10);
    margin:0 5px;
    height:25px;
    position: relative;
    
}
.button_preview_border_radius, .button_preview_padding{
    position: relative;
    width:28px;
    height: 28px;
    box-sizing: border-box;
    border-radius: 4px;
    margin:4px;
    cursor: pointer;
    outline-offset: 1px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_preview_padding{
    font-size: .85em;
}
.button_preview_border_radius:hover, .button_preview_padding:hover{
    outline: 2px solid var(--white-5);
}
.button_preview_border_radius_selected, .button_preview_border_radius_selected:hover, .button_preview_padding_selected, .button_preview_padding_selected:hover{
    outline: 2px solid var(--green-80);
}
