
.shadow_plus_minus{
    all:unset;
    position: relative;
    height:25px;
    width:25px;
    margin: 1px;
    background-color: var(--white-1);
    color:var(--green);
    border-radius: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px 0px var(--green-40);
    font-size:1em;
    transition-duration: 100ms;
}
.shadow_plus_minus[action="minus"][key="x"]{border-radius: 50% 0 0 50%;}
.shadow_plus_minus[action="plus"][key="x"]{border-radius: 0 50% 50% 0;}
.shadow_plus_minus[action="minus"][key="y"]{border-radius: 50% 50% 0 0;}
.shadow_plus_minus[action="plus"][key="y"]{border-radius: 0 0 50% 50%;}
.shadow_plus_minus[key="center"]{border-radius: 50%;}
.shadow_plus_minus:hover{
    background-color: var(--green-80);
    color:var(--green-txt);
}