.font_styles_list{
    width:100%;
    margin-top:20px;
}
.recent_font_styles_list{
    width:100%;
    margin-bottom:20px;
    margin-top:40px;
}
.font_styles_list_font{
    cursor: pointer;
    margin: 0;
    padding:10px 20px;
    // border-top:1px solid transparent;
    border-bottom:1px solid var(--white-2);
    font-size: .9em;
    box-sizing: border-box;
}
.font_styles_list_font:hover{
    background-color: var(--white-2);
}
.font_styles_list_font_selected, .font_styles_list_font_selected:hover{
    // background-color: var(--green);
    // color:var(--green-txt);
    background-color: var(--white-2);
    // border-top:1px solid var(--green);
    // border-bottom:1px solid var(--green);
}
// .font_style_selector_container{
//     display:flex;
//     align-items: center;
//     justify-content: space-between;
//     position: relative;
//     border-radius: 5px;
//     padding:8px;
//     border:1px solid var(--white-4);
//     cursor: pointer;
//     font-size: .85em;
//     box-sizing: border-box;
//     width:270px;
// }
// .font_style_selector_val{margin-inline-end:20px;}
// .font_style_selector_elems{
//     position: fixed;
//     top:35px;
//     left:0;
//     width:270px;
//     box-sizing: border-box;
//     background-color: var(--white-1);
//     left:0;
//     margin:0;
//     box-shadow: 0 0 15px var(--shdw-20), 0 0 1px var(--shdw-5);
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-start;
//     z-index: 210;
//     border-radius: 3px;
//     max-height:200px;
//     overflow: auto;;
//     scrollbar-width: thin;
// }
// .font_style_selector_elems div:nth-child(1){border: none;}
// .font_style_selector_elem{
//     padding:5px;
//     width:calc(100%);
//     border-top:1px solid var(--white-4);
//     box-sizing: border-box;
//     overflow: hidden;
//     cursor: pointer;
//     flex-shrink: 0;
//     font-size: .85em;
// }
// .font_style_selector_elem:hover{
//     background-color: var(--white-2);
// }
