.number_picker_editor{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

.number_picker_unit_select{
    font-size: .9em;
    cursor: pointer;
    border:1px solid var(--green-60);
    border-radius: 3px;
    height: 30px;
    min-width:40px;
    line-height:1em;
    display: flex;
    align-items: center;
    justify-content: center;    
    box-sizing: border-box;
    padding:5px;
}
.number_picker_unit_select:hover{
    background-color: var(--green-10);
}
.number_picker_units{
    position: fixed;
    top:0;
    left:0;
    min-width:30px;
    box-sizing: border-box;
    background-color: var(--white-1);
    left:0;
    margin:0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2502;
    border-radius: 2px;
    height:auto;
    animation:number_picker_units_animation 100ms ease-in-out 1;
    transform-origin: top center;
    border:1px solid var(--green-60);
}
@keyframes number_picker_units_animation {
    0%{opacity:0;transform: scaleY(.5);}
    100%{opacity:1;transform: scaleY(1);}
}
.number_picker_units_elem{
    padding:5px;
    height: 30px;
    box-sizing: border-box;
    width:100%;
    min-width:40px;
    border-top:1px solid var(--green-10);
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
    font-size: .9em;
    position: relative;
    text-align: center  ;
}
.number_picker_units_elem:hover{
    background-color: var(--green-10);
}

.number_picker_btn{
    font-size: .75em;
    cursor: pointer;
    color:var(--green-70);
    padding:5px;
    box-sizing: border-box;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 150ms;
    width:30px;
}
.number_picker_btn:hover{
    background-color: var(--green-10);
}
.number_picker_val{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 5px;
    border:1px solid var(--green-60);
    border-radius: 3px;
    height: 30px;
}
.number_picker_input{
    all: unset;
    font-size: .9em;
    padding:3px 5px;
    text-align: center;
    width: 80px;
    height:100%;
    transition-duration: 150ms;
    box-sizing: border-box;
}
.number_picker_input:focus{
    background-color: var(--green-10);
}
