.responsive_selector_container{
    background-color: var(--white-3);
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2px;
    box-shadow: 0 0 1px var(--shdw-20) inset;
    margin:auto;
    width:270px;
    gap:2px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom:5px;
}
.responsive_selector{
    width:calc(270px / 3);
    height:30px;
    box-sizing: border-box;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:var(--white-11);
    transition-duration: 300ms;
}
.responsive_selector div:nth-child(1){font-size: 1.1em;}
.responsive_selector div:nth-child(2){font-size: .82em;}
.responsive_selector_selected{
    background-color: var(--white);
    color:var(--orange);
}
