.responsive_selector_container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width:calc(100% - 20px);
    margin:10px;
    margin-bottom: 20px;;
    overflow: hidden;
}
.responsive_selector{
    width:calc(100% / 3);
    box-sizing: border-box;
    padding:10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 300ms;
    border-bottom:2px solid var(--white-3);
}
.responsive_selector:hover{
    border-bottom:2px solid var(--green-40);
}
.responsive_selector div:nth-child(1){font-size: 1.5em;}
.responsive_selector_selected, .responsive_selector_selected:hover{
    color:var(--green);
    border-bottom:2px solid var(--green-80);
}
