@import '../cpanel/tools/loading';
@import '../cpanel/tools/scrollBar';
@import '../cpanel/form/button.scss';
@import '../cpanel/form/input-text.scss';

html{
    margin: 0;
    padding:0;
    height: 100%;
    width:100%;
    overflow: hidden;
}
body{
    font-family: 'Nunito','inter','Tajawal', sans-serif;
    overscroll-behavior-y: contain;
    margin: 0;
    padding:0;
    user-select: none;
    height:100%;
    width:100%;
    overflow: hidden;
    color: var(--txt-1);
    background-color: var(--white);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0em;
    padding: 0em;
    overflow-y: auto;
    overflow-x: hidden;
}
.loginFormContainerC{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width:30%;
    min-width: 500px;
    @media (max-width:1024px) {
        min-width: 400px;
    }
    @media (max-width:720px) {
        width:100%;
        min-width: 100%;
        justify-content: center;
    }
}
.loginFormContainer{
    height:500px;
    width:500px;
    max-width:clac(100px - 40px);
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--shdw-5), 0 0 20px 0px var(--shdw-5);
}
.foodMenuLogo{
    margin:20px 10px;
    margin-top: 0;
    padding:5px;
    height:80px;
    box-shadow: 0 0 10px var(--shdw-5), 0 0 1px 0px var(--shdw-20);
    border-radius: 50%;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--green);
}
a:hover{
    text-decoration: underline;
}
.inputText {
    @media (max-width:720px) {
        width:180px
    }
}
.btn{
    padding: 5px 0px;
    margin:0px;
    width:calc(100%);
    @media (max-width:720px) {
        width:180px
    }
}
.formContainer {
    max-width:500px;
    background-color: var(--white);
    border-radius: 3px;
    box-shadow: var(--shdw4);
    color: var(--white-10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px;
    transition-duration: 400ms;
    margin:0 ;
    max-width:calc(100% - 40px)
}
@import '../cpanel/tools/icons';
@import '../style/style.scss';
