.website_header:hover{
    z-index: 120 !important;
    .header_wrapper{
        outline: 2px dashed var(--green-50);
        outline-offset: -2px;
    }
    // .header_navList, .header_logo, .header_iconsList, .header_mobileNav_icon {
    //     outline: 2px dashed var(--orange-70);outline-offset: -2px;
    // }
}
.selected_header{
    .header_wrapper{
        outline: 2px solid var(--green);outline-offset: -2px;
    }
    .header_navList, .header_logo, .header_iconsList, .header_mobileNav_icon {
        outline: 1px dashed var(--orange-70);outline-offset: -1px;
    }
    .edit_header_padding_top{display: block;}
    .edit_header_padding_right{display: block;}
    .edit_header_padding_bottom{display: block;}
    .edit_header_padding_left{display: block;}


}
.selected_header:hover{
    .header_wrapper{
        outline: 2px solid var(--green);outline-offset: -2px;
    }
    .header_component {
        outline: 1px dashed var(--orange-70);outline-offset: -1px;
    }
}
.header_component:hover{
    outline: 1px dashed var(--orange-70);outline-offset: -1px;
}
.header_component_selected, .header_component_selected:hover{
    outline: 1px solid var(--orange-70);outline-offset: -1px;
    .edit_header_components_padding_top{display: block;}
    .edit_header_components_padding_right{display: block;}
    .edit_header_components_padding_bottom{display: block;}
    .edit_header_components_padding_left{display: block;}
    .edit_header_components_margin_top{display: block;}
    .edit_header_components_margin_right{display: block;}
    .edit_header_components_margin_bottom{display: block;}
    .edit_header_components_margin_left{display: block;}
}
//
.header_preview_container{
    display: grid;
    position: relative;
    padding: 15px 10px;
    border:1px solid var(--white-3);
    margin:25px 10px;
    cursor: pointer;
    transition-duration: 100ms;
}
.header_preview_container:hover{
    box-shadow: 0 0 15px var(--shdw-10);
}
.header_preview_elem1{
    grid-area: elem1;
    margin:0 3px;
}
.header_preview_elem1 > div{
    position: relative;
    height:20px;
    width:60px;
    border-radius: 2px;
    background-color: var(--white-3);
}
.header_preview_elem2{
    grid-area: elem2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 3px;
}
.header_preview_elem2 > div{
    position: relative;
    height:8px;
    width:20px;
    border-radius: 2px;
    background-color: var(--white-3);
    margin:2px;
}
.header_preview_elem3{
    grid-area: elem3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 3px;
}
.header_preview_elem3 > div{
    position: relative;
    height:10px;
    width:10px;
    border-radius: 50%;
    background-color: var(--white-3);
    margin-inline-end:2px;
}
