.popup_card::after{
    position: absolute;
    inset: 0 0 0 0;
    content:'';
}
.popup_card:hover{
    .select_popup_title{
        display: block;
        background-color: var(--green-50);
    }
}
.popup_card:hover:after{
    outline: 2px dashed var(--green-50);
    // outline-offset: 2px;
}
.popup_window_selected, .popup_window_selected:hover{
    .edit_popup_padding_top{display: block;}
    .edit_popup_padding_right{display: block;}
    .edit_popup_padding_bottom{display: block;}
    .edit_popup_padding_left{display: block;}

    .select_popup_title{display: block;}

    .container:hover::after{
        outline: 1px dashed var(--violet-50);
    }
    .container:after{
        outline: 1px dashed var(--violet-50);
    }
    .popup_close{
        z-index: 101 !important;
    }
}
.popup_window_selected::after, .popup_window_selected:hover:after{
    position: absolute;
    inset: 0 0 0 0;
    content:'';
    outline: 2px solid var(--green);
    outline-offset: 2px;
}
.select_popup_title{
    white-space: nowrap;
    background-color: var(--green);
    color:var(--green-txt);
    width:fit-content;
    position: absolute;
    left:-1px;
    bottom:calc(100% + 1px);
    padding:2px 8px;
    padding-bottom: 1px;
    border-radius: 0px 0px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 300ms;
    z-index: 111;
    font-size:.75rem;
}
//
