@font-face {
    font-family: 'foodmenu';
    src:  url('icons/foodmenu.eot?v4izm6');
    src:  url('icons/foodmenu.eot?v4izm6#iefix') format('embedded-opentype'),
      url('icons/foodmenu.ttf?v4izm6') format('truetype'),
      url('icons/foodmenu.woff?v4izm6') format('woff'),
      url('icons/foodmenu.svg?v4izm6#foodmenu') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'foodmenu' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
  }

  .icon-close:before {
    content: "\e903";
  }
  .icon-menu:before {
    content: "\e904";
  }
  .icon-logout:before {
    content: "\e900";
  }
  .icon-cpanel:before {
    content: "\e901";
  }
  .icon-down:before {
    content: "\e902";
  }
  