.add_home_elem_popup_container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}
.add_home_elem_type_elem_container{
    padding:10px;
    border-right:1px solid var(--white-3);
    flex-shrink: 0;
    position: sticky;
    top:0;
}
.add_home_elem_type_elem{
    padding:10px;
    margin:1px 0;
    border-radius: 1px 3px 3px 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left:2px solid transparent;
    white-space:nowrap;
}
.add_home_elem_type_elem > div:nth-child(1){
    margin-inline-end:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_home_elem_type_elem > div:nth-child(2){
    font-size: .8em;
    color:var(--white-11);
    display: none;
}
.add_home_elem_type_elem:hover{
    background-color: var(--green-5);
}
.add_home_elem_type_elem_selected{
    background-color: var(--green-5);
    border-left:2px solid var(--green);
}
.add_home_elem_type_elem_selected > div:nth-child(2){
    display: block;
}
//
.add_home_elem_preview_container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    // gap:50px;
}
.add_home_elem_elem{
    margin:30px;
    outline:1px solid var(--white-2);
    outline-offset:20px;
    cursor: pointer;
    // border-radius: 1px;
}
.add_home_elem_elem:hover{
    outline:1px solid var(--green-50);
}