@import '../editable/elem/add_home_elem.scss';
.elem{
    position: relative;
}
.elem::after{
    content: '';
    position: absolute;
    inset:0 0 0 0;
    pointer-events: none;
    transition-duration: 300ms;
}
.elem:hover{
    .select_edit_elem_title{display:flex;background-color: var(--orange-50);}
}
.elem:hover::after{
    outline: 1px dashed var(--orange-50);
}
.edit_elem_selected{
    .select_edit_elem_title{display:flex;background-color: var(--orange);}
    
    .edit_elem_padding_top{display: block;}
    .edit_elem_padding_right{display: block;}
    .edit_elem_padding_bottom{display: block;}
    .edit_elem_padding_left{display: block;}

    .edit_elem_margin_top{display: block;}
    .edit_elem_margin_right{display: block;}
    .edit_elem_margin_bottom{display: block;}
    .edit_elem_margin_left{display: block;}
}
.edit_elem_selected:hover{
    .select_edit_elem_title{display:flex;background-color: var(--orange);}
}
.edit_elem_selected::after{
    content: '';
    position: absolute;
    inset:0 0 0 0;
    pointer-events: none;
    transition-duration: 300ms;
    outline: 1px solid var(--orange);
}
.edit_elem_selected:hover::after{
    outline: 1px solid var(--orange);
}
.select_edit_elem_title{
    white-space: nowrap;
    background-color: var(--blue);
    color:var(--blue-txt);
    width:fit-content;
    position: absolute;
    left:-1px;
    bottom:100%;
    padding:3px 5px;
    padding-left:1px;
    padding-bottom: 2px;
    border-radius: 0px 0px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 300ms;
}
.select_edit_elem_title div:nth-child(1){font-size:.75rem;margin-bottom:2px;margin-inline-end: 1px;}
.select_edit_elem_title div:nth-child(2){font-size:.8rem;}
//