.section_driver_preview, .section_driver_preview_none{
    width:120px;
    height:60px;
    cursor: pointer;
    margin:8px;
    background-color: var(--green-60);
    border-radius: 1px;
    padding:2px;
    position: relative;
    overflow: hidden;
    transition-duration: 100ms;
    outline:2px solid var(--white-2);
    outline-offset: 2px;
}
.section_driver_preview_none{
    background-color: rgb(255, 255, 255);
}
.section_driver_preview:hover ,.section_driver_preview_none:hover{
    outline:2px solid var(--white-4);
}
.section_driver_preview_selected{
    outline:2px solid var(--green);
}
.section_driver_preview_selected:hover{
    outline:2px solid var(--green);
}
.section_driver_preview_block{
    position: absolute;
    bottom:0;
    left:0;
    height:10px;
    width:100%;
    background-color: rgb(255, 255, 255);
}
