.section_layout_elem_S{
    display: grid;
    width:150px;
    height:75px;
    cursor: pointer;
    margin:10px;
    outline:1px solid var(--white-6);
    border-radius: 4px;
    padding:2px;
    grid-gap: 3px;
}
.section_layout_elem_S:hover{
    box-shadow: 0 0 15px var(--shdw-10);
}
.section_layout_elem_L{
    display: grid;
    width: 340px;
    height: 170px;
    // height:calc(300px / 2);
    cursor: pointer;
    margin:10px;
    outline:1px solid var(--white-6);
    border-radius: 4px;
    padding:4px;
    grid-gap: 5px;
}
.section_layout_elem_L:hover{
    box-shadow: 0 0 15px var(--shdw-10);
}
