@import '../editable/section/section_layouts.scss';
@import '../editable/section/section_drivers.scss';
@import '../editable/section/add_section.scss';


section {
    position: relative;
}
section::after{
    content: '';
    position: absolute;
    inset:0 0 0 0;
    pointer-events: none;
    // z-index: 100;
    transition-duration: 300ms;
    outline: 2px dashed transparent;
    outline-offset: -2px;
}
section:hover {
    // z-index: 2;
    .select_section_title{display:flex;background-color: var(--green-70);}
    .add_section_btn_style {
        transform: scale(1);
        opacity: 1;
    }
}
section:hover::after{
    outline: 2px dashed var(--green-50);
}
.section_selected{
    .edit_padding_top_section{display: block;}
    .edit_padding_bottom_section{display: block;}
    .edit_margin_top_section{display: block;}
    .edit_margin_bottom_section{display: block;}

    .select_section_title{display:flex;background-color: var(--green);}
    .section_block::after{
        outline: 1px dashed var(--blue-50);
    }
}
.section_selected:hover {
    .select_section_title{display:flex;background-color: var(--green);}
}
.section_selected::after{
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    // z-index: 1;
    pointer-events: none;
    outline: 2px solid var(--green);
    transition-duration: 300ms;
    outline-offset: -2px;;
}
.section_selected:hover::after{
    outline: 2px solid var(--green);
}

.select_section_title{
    white-space: nowrap;
    background-color: var(--green);
    color:var(--green-txt);
    width:fit-content;
    position: absolute;
    left:10px;
    top:10px;
    padding:10px;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0px var(--shdw-10);
    z-index: 111;

}
.select_section_title div:nth-child(1){font-size:.8rem;cursor: pointer;}
.select_section_title div:nth-child(2){font-size:.9rem;margin-inline-start:7px;}

.add_section_btn_style {
    z-index: 101;
    position: absolute;
    bottom: calc(-.5em - 13px);
    left: calc(50% - 20px);
    cursor: pointer;
    transition-duration: 300ms;
    min-width: unset;
    width: unset;
    font-size: 1.3em;
    margin: 3px 0;
    padding: 10px !important;
    border-radius: 50% !important;
    box-shadow: 0 0 20px var(--shdw-10), 0 0 5px var(--shdw-10);
    transition-duration: 150ms;
    transform: scale(0);
    opacity: 0;
    font-size: 1.3em !important;
}

///
.add_first_section_btn_container {
    padding: 40px 80px;
    border: 1px solid var(--white-3);
    background-color: var(--white-2);
    width: fit-content;
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    div {
        color: var(--txt-1) !important;
    }
}

.add_first_section_btn {
    font-size: 1.5em;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--white-10);
}

//
