.section_layout_elem{
    cursor: pointer;
    margin:10px;
    border:1px solid var(--white-4);
    border-radius: 4px;
    padding:5px;
}
.section_layout_elem:hover{
    box-shadow: 0 0 15px var(--shdw-10);
}
//
.section_layout_0{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
}
.section_layout_0 > div:nth-child(1){
    width:100%;
    height: 100%;
    position: relative;
    border-bottom: none;
    box-sizing: border-box;
    border:2px solid var(--green);
}
//
.section_layout_1{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
}
.section_layout_1 > div:nth-child(1){
    width:100%;
    height: 50%;
    position: relative;
    border-bottom: none;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-bottom:none;
}
.section_layout_1 >  div:nth-child(2){
    position: relative;
    width:100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border:2px solid var(--green);
}
//
.section_layout_2{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_layout_2 > div:nth-child(1){
    width:50%;
    height: 100%;
    position: relative;
    border-bottom: none;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right:none;
}
.section_layout_2 >  div:nth-child(2){
    position: relative;
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border:2px solid var(--green);
}
//
.section_layout_3{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
}
.section_layout_3 > div:nth-child(1){
    width:100%;
    height: 50%;
    position: relative;
    border-bottom: none;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-bottom:none;
}
.section_layout_3 >  div:nth-child(2){
    position: relative;
    width:100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.section_layout_3 >  div:nth-child(2) > div:nth-child(1){
    width:50%;
    height: 100%;
    border-right:none;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right:none;
}
.section_layout_3 >  div:nth-child(2) > div:nth-child(2){
    width:50%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border:2px solid var(--green);
}
//
.section_layout_4{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
}
.section_layout_4 >  div:nth-child(1){
    position: relative;
    width:100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.section_layout_4 >  div:nth-child(1) > div:nth-child(1){
    width:50%;
    height: 100%;
    border-right:none;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right:none;
}
.section_layout_4 >  div:nth-child(1) > div:nth-child(2){
    width:50%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border:2px solid var(--green);
}
.section_layout_4 > div:nth-child(2){
    width:100%;
    height: 50%;
    position: relative;
    border-bottom: none;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-top:none;
}
//
.section_layout_5{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
}
.section_layout_5 >  div:nth-child(1){
    position: relative;
    width:100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.section_layout_5 >  div:nth-child(1) > div:nth-child(1){
    width:50%;
    height: 100%;
    border-right:none;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right:none;
}
.section_layout_5 >  div:nth-child(1) > div:nth-child(2){
    width:50%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border:2px solid var(--green);
}

.section_layout_5 >  div:nth-child(2){
    position: relative;
    width:100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.section_layout_5 >  div:nth-child(2) > div:nth-child(1){
    width:50%;
    height: 100%;
    border-right:none;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right:none;
    border-top:none;
}
.section_layout_5 >  div:nth-child(2) > div:nth-child(2){
    width:50%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-top:none;
}
.section_layout_6{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section_layout_6 >  div:nth-child(1){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right: none;
}
.section_layout_6 >  div:nth-child(2){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
    border:2px solid var(--green);
}
.section_layout_6 >  div:nth-child(3){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-left: none;
}
//
.section_layout_7{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section_layout_7 > div:nth-child(1){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
}
.section_layout_7 > div:nth-child(1) > div:nth-child(1){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right: none;
    border-bottom: none;
}
.section_layout_7 > div:nth-child(1) > div:nth-child(2){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right: none;
}
.section_layout_7 >  div:nth-child(2){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
    border:2px solid var(--green);
}
.section_layout_7 >  div:nth-child(3){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-left: none;
}
//
.section_layout_8{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section_layout_8 >  div:nth-child(1){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right: none;
}
.section_layout_8 > div:nth-child(2){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
}
.section_layout_8 > div:nth-child(2) > div:nth-child(1){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-bottom: none;
}
.section_layout_8 > div:nth-child(2) > div:nth-child(2){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
}
.section_layout_8 >  div:nth-child(3){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-left: none;
}
//
.section_layout_9{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section_layout_9 >  div:nth-child(1){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right: none;
}
.section_layout_9 >  div:nth-child(2){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
    border:2px solid var(--green);
}
.section_layout_9 > div:nth-child(3){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
}
.section_layout_9 > div:nth-child(3) > div:nth-child(1){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-bottom: none;
    border-left:none;
}
.section_layout_9 > div:nth-child(3) > div:nth-child(2){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-left:none;
}
//
.section_layout_10{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section_layout_10 > div:nth-child(1){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
}
.section_layout_10 > div:nth-child(1) > div:nth-child(1){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right: none;
    border-bottom: none;
}
.section_layout_10 > div:nth-child(1) > div:nth-child(2){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right: none;
}
.section_layout_10 > div:nth-child(2){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
}
.section_layout_10 > div:nth-child(2) > div:nth-child(1){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-bottom: none;
}
.section_layout_10 > div:nth-child(2) > div:nth-child(2){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
}
.section_layout_10 >  div:nth-child(3){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-left: none;
}
//
.section_layout_11{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section_layout_11 > div:nth-child(1){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
}
.section_layout_11 > div:nth-child(1) > div:nth-child(1){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right: none;
    border-bottom: none;
}
.section_layout_11 > div:nth-child(1) > div:nth-child(2){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right: none;
}
.section_layout_11 >  div:nth-child(2){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
    border:2px solid var(--green);
}
.section_layout_11 > div:nth-child(3){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
}
.section_layout_11 > div:nth-child(3) > div:nth-child(1){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-bottom: none;
    border-left:none;
}
.section_layout_11 > div:nth-child(3) > div:nth-child(2){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-left:none;
}
//
.section_layout_12{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section_layout_12 >  div:nth-child(1){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right: none;
}
.section_layout_12 > div:nth-child(2){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
}
.section_layout_12 > div:nth-child(2) > div:nth-child(1){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-bottom: none;
}
.section_layout_12 > div:nth-child(2) > div:nth-child(2){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
}
.section_layout_12 > div:nth-child(3){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
}
.section_layout_12 > div:nth-child(3) > div:nth-child(1){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-bottom: none;
    border-left:none;
}
.section_layout_12 > div:nth-child(3) > div:nth-child(2){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-left:none;
}
//
.section_layout_13{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section_layout_13 >  div:nth-child(1){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
}
.section_layout_13 > div:nth-child(1) > div:nth-child(1){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-bottom: none;
    border-right: none;
}
.section_layout_13 > div:nth-child(1) > div:nth-child(2){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right: none;
}
.section_layout_13 > div:nth-child(2){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
}
.section_layout_13 > div:nth-child(2) > div:nth-child(1){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-bottom: none;
}
.section_layout_13 > div:nth-child(2) > div:nth-child(2){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
}
.section_layout_13 > div:nth-child(3){
    position: relative;
    width:calc(100% /3);
    height: 100%;
    box-sizing: border-box;
}
.section_layout_13 > div:nth-child(3) > div:nth-child(1){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-bottom: none;
    border-left:none;
}
.section_layout_13 > div:nth-child(3) > div:nth-child(2){
    position: relative;
    width:100%;
    height:50%;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-left:none;
}
//
.section_layout_14{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_layout_14 > div:nth-child(1){
    width:50%;
    height: 100%;
    position: relative;
    border-bottom: none;
    box-sizing: border-box;
}
.section_layout_14 > div:nth-child(1) > div:nth-child(1){
    width:100%;
    height: 50%;
    position: relative;
    border-bottom: none;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right:none;
    border-bottom: none;
}
.section_layout_14 > div:nth-child(1) > div:nth-child(2){
    width:100%;
    height: 50%;
    position: relative;
    border-bottom: none;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-right:none;
}
.section_layout_14 >  div:nth-child(2){
    position: relative;
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border:2px solid var(--green);
}
//
.section_layout_15{
    width:150px;
    height:75px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_layout_15 >  div:nth-child(1){
    position: relative;
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border:2px solid var(--green);
}

.section_layout_15 > div:nth-child(2){
    width:50%;
    height: 100%;
    position: relative;
    border-bottom: none;
    box-sizing: border-box;
}
.section_layout_15 > div:nth-child(2) > div:nth-child(1){
    width:100%;
    height: 50%;
    position: relative;
    border-bottom: none;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-left:none;
    border-bottom: none;
}
.section_layout_15 > div:nth-child(2) > div:nth-child(2){
    width:100%;
    height: 50%;
    position: relative;
    border-bottom: none;
    box-sizing: border-box;
    border:2px solid var(--green);
    border-left:none;
}
