.select_range_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.select_range_slider{
    position: relative;
    width:120px;
    overflow: visible;
    height:30px;
    display: flex;
    align-items: center;
}
.select_range_slider:before{
    background-color: var(--white-2);
    outline:1px solid var(--white-5);
    width:100%;
    height:5px;
    border-radius: 5px;
    content:'';
}
.select_range{
    position: absolute;
    box-sizing: border-box;
    left:0;
    border-radius: 50%;
    height:14px;
    width:14px;
    background-color: var(--white-1);
    box-shadow: 0 0 0px 1px var(--shdw-10), 0 0 10px var(--shdw-10);
    cursor: pointer;
    transition-duration: 200ms;
}
.select_range:hover{
    transform: scale(1.2);
    transition-duration: 0ms;
}
