#bodyPage{
    height: 100%;
    background-color: var(--white);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    transition-duration: .5s;
}
.bodyPage_helpWindow{
    width:calc(100% - 450px);
    @media (max-width:1600px) {
        width:calc(100% - 300px);

    }
}
.bodyPage_noHelpWindow{width:100%}
.paymentFailAnn{
    position: sticky;
    top:0;
    width:calc(100% - 20px);
    text-align: center;
    font-size: 1.1em;
    z-index: 51;
    padding:10px;
    cursor: pointer;
    display:block;
}
.paymentFailAnn:hover{
    text-decoration: none;
}
.paymentFailAnn_red{
    background-color: var(--red-80);
    color:var(--red-txt);
}
.paymentFailAnn_orange{
    background-color: var(--orange-80);
    color:var(--orange-txt);
}
#pageWrapper{
    opacity: 0;
    transition-duration: .2s;
    margin:0  20px;
    width:calc(100% - 40px);
    @media (max-width:720px) {
        margin:0;
        width:calc(100%);
    }
}
.pageSection{
    // padding:40px 0;
    margin:20px;
    width:calc(100% - 40px);
    @media (max-width:720px) {
        margin:10px 10px;
        width:calc(100% - 20px);

    }
}
.pageSection_brdrT{border-top: 1px solid var(--white-3);}
.pageSection_brdrB{border-bottom: 1px solid var(--white-3);}
.pageSection_brdrL{border-left: 1px solid var(--white-3);}
.pageSection_brdrR{border-right: 1px solid var(--white-3);}
.pageSectionTitle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    font-family: 'inter','Nunito','Tajawal', sans-serif;
    font-size: 1.2em;
    margin-bottom:30px;
}
.pageSectionTitle2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-family: 'inter','Nunito','Tajawal', sans-serif;
    font-size: 1em;
    margin-bottom:10px;
}
/////////////


.area{
    border-radius: 5px;
    background-color: var(--white);
    color:var(--txt-1);
    border:1px solid var(--white-3);
    position: relative;
    padding:10px 10px;
    margin:15px 0px;
    width:calc(100% - 23px);

}
.areaTitle{
    position: absolute;
    top:-15px;
    left:10px;
    background-color: var(--white);
    color:var(--white-8);
    padding:5px;
    font-family: 'inter','Nunito','Tajawal', sans-serif;
    white-space: nowrap;
    font-size: .9em;
}
/////
.pageTabs{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-start;
    margin-top:20px;
    margin-bottom:40px;
}
.pageTabsContainer{
    overflow-x: hidden;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-start;
    border-bottom:1px solid var(--white-2);
}
.pageTab{
    font-size:.85em;
    margin-inline-end:20px;
    cursor: pointer;
    padding-bottom:5px;
    white-space: nowrap;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pageTab_selected{
    border-bottom:1px solid var(--green);
    color:var(--green);
    font-weight: 700;
}
.pageTab:last-child{margin-inline-end:0;}
.pageTabContainer{
    width:calc(100% - 10px);
    padding:0 5px;
    height:0px;
    overflow: hidden;
    opacity:0;
    transition-duration: 300ms;
}
.pageTabContainer_selected{
    height:auto;
    opacity:1;
    overflow: visible;
}
.pageTabArrow{
    font-size:.85em;
    padding:7px;
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--white-2);
    border-radius: 4px;
}
.pageTabArrow:hover{
    background-color: var(--white-3);
}
.pageTabArrowLeft{
    margin-inline-end:10px;
}
.pageTabArrowRight{
    margin-inline-start:10px;
}
