#cpanelLoading{
    background-color: var(--bg);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 10000;
    display: flex;
    align-items:center;
    justify-content: center;
}

#cpanelLoading img:nth-child(1){
    position: absolute;
    width:210px;
    height:210px;
    z-index: 6;
    animation-name: cpanelLoadingAnimation_1;
    animation-duration: 10000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(.85);
}

#cpanelLoading div:nth-child(2){
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    width:115px;
    height:115px;
    background-color: transparent;
    border:30px solid var(--bg3);
    animation-name: cpanelLoadingAnimation;
    animation-duration: 1800ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
#cpanelLoading div:nth-child(3){
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    width:115px;
    height:115px;
    background-color: transparent;
    border:30px solid var(--bg3);
    animation-name: cpanelLoadingAnimation;
    animation-duration: 1800ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 150ms;
}
#cpanelLoading div:nth-child(4){
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    width:115px;
    height:115px;
    background-color: transparent;
    border:30px solid var(--bg3);
    animation-name: cpanelLoadingAnimation;
    animation-duration: 1800ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 300ms;
}

#cpanelLoading div:nth-child(5){
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    width:115px;
    height:115px;
    background-color: transparent;
    border:30px solid var(--bg3);
    animation-name: cpanelLoadingAnimation;
    animation-duration: 1800ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 450ms;
}

@keyframes cpanelLoadingAnimation {
    0%{opacity:1;transform: scale(1);}
    30%{opacity:1;transform: scale(1);}
    100%{opacity:0;transform: scale(2);}
}

@keyframes cpanelLoadingAnimation_1 {
    0%{transform: scale(.85);}
    50%{transform: scale(1);}
    100%{transform: scale(.85);}
}
