#sideMenu-toggle{
    font-size: 1.2em;
    @media (min-width:720px) {
        display:block;
     }
     display:none;
     cursor: pointer;
     padding:5px;
     border-radius: 5px;
     margin-inline-end:10px;
     color:var(--sm-c3);
}

#sideMenu-toggle > div{
    transition-duration: .5s;
    font-size: 1em;
}
#sideMenu-logo{
    height:30px;
    margin-bottom:10px;
    margin-top: 10px;
    @media (max-width:520px) {
        display:none;
    }
}
#sideMenu-Container{
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
    @media (min-width:720px) {
        display:flex;
     }
    display:none;
    z-index: 39;
}
.sideMenu-Container_small{
    .sideMenu-itemsContainerTitle{display:none;}
    .sideMenu-itemTitle{display:none;}
    .sideMenu-itemArrow{display:none;}
    .side-menuItem{justify-content:center;}
    #sideMenu-itemsContainer{width:fit-content;max-width:70px}
    #sideMenu-toggle div:first-child{transform:rotateZ(180deg)}
}
#sideMenu-mainContainer{
    min-height: calc(100%);
    display:flex;
    padding: 0 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 2;
    background-color: var(--sm-c);
}
.sideMenu-mainItem_billing{
    all: unset;
    display: block;
    font-size:1.3em;
    padding:10px;
    cursor: pointer;
    color:var(--sm-c3);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin:2px 5px;
}
.sideMenu-mainItem_billing:hover{text-decoration: none;}

.sideMenu-mainItem{
    font-size:1.3em;
    padding:10px;
    cursor: pointer;
    color:var(--sm-c3);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    margin:2px 5px;
}
.sideMenu-mainItem_unsaved{
    position: absolute;
    top:7px;
    left:7px;
    width:5px;
    height:5px;
    border-radius: 50%;
    background-color: var(--orange);
}
.reportBug-sideMenu{
    font-size:1.3em;
    padding:10px;
    cursor: pointer;
    color:var(--sm-c3);
    border-radius: 5px;
    margin:2px 5px;
}
.Logout-sideMenu{
    font-size:1.3em;
    padding:10px;
    cursor: pointer;
    color:var(--sm-c3);
    border-radius: 5px;
    margin:2px 5px;
}
.sideMenu-mainItemSelected{
    background-color: var(--sm-c3);
    color:var(--sm-c2);
}
#sideMenu-itemsContainer{
    height:calc(100%);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition-duration: 1s;
    max-width:500px;
    width:fit-content;
    background-color: var(--sm-c2);
}

.sideMenu-itemsContainerTitle{
    font-size:1.2em;
    color: var(--sm-c3);
    margin:0;
    margin-inline-end: 5px;
    font-weight:600;
    font-family: 'inter','Nunito','Tajawal', sans-serif;
}
.side-menuItem{
    color: var(--sm-c3);
    padding: 10px 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
    position: relative;
    border-radius: 5px;
    margin: 0px 10px;
    overflow: hidden;
}
.sideMenu-itemArrow{
    margin-inline-end:10px;
    font-size: .9em;
    visibility: hidden;
    flex-shrink: 0;
}
.sideMenu-itemTitle{
    font-size:.85em;
    margin-inline-start:10px;
    margin-inline-end:5px;
    font-family: 'inter','Nunito','Tajawal', sans-serif;
    white-space: nowrap;
    flex-grow: 1;
}
.sideMenu-itemIcon{
    font-size:1.2em;
    margin:0 5px;
    flex-shrink: 0;
}
.side-menuItemSelected{
    background-color: var(--sm-c3);
    color:var(--sm-c2);
}
