
#statusBar{
    width: calc(100% - 10px);
    height:20px;
    padding: 0 5px;
    background-color: var(--sm-c);
    color: var(--sm-c3);
    // border-top:1px solid var(--white-2);
    position: relative;
    z-index: 50;
    font-size: 0.8em;
    transition-duration: .5s;
    text-align: start;
    overflow: hidden;
    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
}

