
@font-face {
    font-family: 'Nunito';
    src: url('/storage/fonts/en/Nunito.ttf') format("truetype");
}
@font-face {
    font-family: 'inter';
    src: url('/storage/fonts/en/inter.ttf') format("truetype");
}
@font-face {
    font-family: 'Tajawal';
    src: url('/storage/fonts/ar/Tajawal.ttf') format("truetype");
}
@import 'tools/icons';
@import 'tools/loading';
@import 'tools/scrollBar';
@import 'form/button.scss';
@import 'form/input-text.scss';

body{
    user-select: none;
    background-color: var(--c1);
    color:var(--c1txt);
    font-family: 'Nunito','inter','Tajawal', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0em;
    padding: 0em;
    height:100%;
    @media (max-width:1023px) {
        font-size:.8em;
    }
    overflow-y: auto;
    overflow-x: hidden;
}
#loginFormsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 40px 20px;
    overflow: auto;
    transition-duration: 300ms;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--c4);
}
a:hover{
    text-decoration: underline;
}
.inputText{
    @media (max-width:500px) {
        width:170px;
    }
    font-family: 'Nunito','inter','Tajawal', sans-serif;
}
.btn{
    padding: 5px 30px;
}
#backToLoginForm{transition-duration: .4s;}
.formContainer {
    max-width:500px;
    background-color: var(--c1);
    border-radius: 3px;
    box-shadow: var(--shdw4);
    color: var(--placeholder2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px 30px;
    transition-duration: .4s;
    margin:0 ;
}
#loginMsg{
    max-width: 300px;
    text-align: center;
    margin:10px 10px 0 10px;
}
.forgetPasswordSelect{transition-duration: 200ms;}
.forgetPasswordSelect:hover{color:var(--c4)}
.td04{transition-duration: .4s}

@import 'styleClasses.scss';
