@import '../builder/website_style/fonts.scss';
html{
    margin: 0;
    padding:0;
    height: 100%;
    width:100%;
    overflow: hidden;
}

@import '../builder/website//website.scss';



// @import '../style/style.scss';
