.vscode/
node_modules/
error.log
composerCopy.json
php
README.md
public/build
public/css
public/js
public/storage
vendor/
storage/debugbar/
storage/framework/
storage/logs/
storage/pdf/
storage/storage/
storage/app/public/imgs/accounts
storage/app/public/imgs/websites/
storage/app/public/websites/
.env
# app/Http/Middleware/underConstruction.php
