
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:rgb(118, 123, 18);

    --color-1:#7F626A;
    --color-2:#5F816C;
    --color-3:#FFE5D9;
    --color-4:#FFFFFF;
    --color-5:#F4ACB7;
}
