
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:rgb(118, 123, 18);

    --color-1:#353535;
    --color-2:#3C6E71;
    --color-3:#D9D9D9;
    --color-4:#FFFFFF;
    --color-5:#284B63;
}
