
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#b7bf28;

    --color-1:#353535;
    --color-2:#284B63;
    --color-3:#D9D9D9;
    --color-4:#FFFFFF;
    --color-5:#3C6E71;
}
