
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#767b12;

    --color-1:#000E14;
    --color-2:#E07400;
    --color-3:#FDC85E;
    --color-4:#EAE2B7;
    --color-5:#FFA647;
}
