
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#bac226;

    --color-1:#05668D;
    --color-2:#679436;
    --color-3:#EBF2FA;
    --color-4:#FFFFFF;
    --color-5:#427AA1;
}
