
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#bac226;

    --color-1:#333533;
    --color-2:#8F7500;
    --color-3:#D6D6D6;
    --color-4:#FFFFFF;
    --color-5:#333533;
}
