
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#bac226;

    --color-1:#90272D;
    --color-2:#DA5552;
    --color-3:#E4B1AB;
    --color-4:#FAF1F0;
    --color-5:#E39695;
}
