
:root{

    --color-error:#ef4d4d;
    --color-success:#60f260;
    --color-warning:#959b16;

    --color-1:#05668D;
    --color-2:#028090;
    --color-3:#86FEE4;
    --color-4:#C2FFF2;
    --color-5:#517584;
}
