
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:rgb(100, 104, 20);

    --color-1:#540804;
    --color-2:#AD2E24;
    --color-3:#E3A6A1;
    --color-4:#F6E1E0;
    --color-5:#AD2E24;
}
