:root{


    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:rgb(118, 123, 18);

    --color-1:#253031;
    --color-2:#BCAB79;
    --color-3:#F1FAEE;
    --color-4:#ffffff;
    --color-5:#6e8b97;

}
