
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#bac226;

    --color-1:#718355;
    --color-2:#87986A;
    --color-3:#CFE1B9;
    --color-4:#E9F5DB;
    --color-5:#B5C99A;
}
