:root{
    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:rgb(118, 123, 18);

    --color-1:#432818;
    --color-2:#6F1D1B;
    --color-3:#BB9457;
    --color-4:#FFE6A7;
    --color-5:#BB9457;


}
