
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#bac226;

    --color-1:#6D2E46;
    --color-2:#A26769;
    --color-3:#ECE2D0;
    --color-4:#D5B9B2;
    --color-5:#CEBEBE;
}
