
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#646814;

    --color-1:#0B090A;
    --color-2:#A4161A;
    --color-3:#FDEDED;
    --color-4:#F5F3F4;
    --color-5:#B1A7A6;
}
