
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#bac226;

    --color-1:#522E38;
    --color-2:#8A2846;
    --color-3:#FFC2D4;
    --color-4:#FFE0E9;
    --color-5:#FF9EBB;
}
