
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#bac226;

    --color-1:#01161E;
    --color-2:#AEC3B0;
    --color-3:#EFF6E0;
    --color-4:#F7FAEF;
    --color-5:#598392;
}
