:root{
    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:rgb(118, 123, 18);

    --color-1:#386641;
    --color-2:#6A994E;
    --color-3:#DFEBC1;
    --color-4:#ffffff;
    --color-5:#6e8b97;



}
