:root{
    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#b7bf28;

    --color-1:#2B2D42;
    --color-2:#8D99AE;
    --color-3:#EDF2F4;
    --color-4:#ffffff;
    --color-5:#6e8b97;

}
