
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#767b12;

    --color-1:#22223B;
    --color-2:#4A4E69;
    --color-3:#C9ADA7;
    --color-4:#F2E9E4;
    --color-5:#9A8C98;
}
