
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#bac226;

    --color-1:#033F63;
    --color-2:#B5B682;
    --color-3:#BAC9BF;
    --color-4:#E9EDE9;
    --color-5:#B5B682;
}
