:root{
    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#b7bf28;

    --color-1:#6B705C;
    --color-2:#CB997E;
    --color-3:#FFE8D6;
    --color-4:#ffffff;
    --color-5:#A5A58D;



}
