
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:rgb(100, 104, 20);

    --color-1:#143642;
    --color-2:#B76935;
    --color-3:#D8B297;
    --color-4:#EEDED3;
    --color-5:#CEBEBE;
}
