
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:rgb(100, 104, 20);

    --color-1:#A44A3F;
    --color-2:#F19C79;
    --color-3:#F9F7DC;
    --color-4:#FCFBEE;
    --color-5:#E3DB63;
}
