
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#bac226;

    --color-1:#223843;
    --color-2:#D77A61;
    --color-3:#DBD3D8;
    --color-4:#EFF1F3;
    --color-5:#D8B4A0;
}
