
:root{

    --color-error:#a90b0b;
    --color-success:#0ba90b;
    --color-warning:#e9f500;

    --color-1:#231942;
    --color-2:#E0B1CB;
    --color-3:#433C67;
    --color-4:#5E548E;
    --color-5:#BE95C4;
}
