.color_1{background-color: var(--color_1);}
.color_2{background-color: var(--color_2);}
.color_3{background-color: var(--color_3);}
.color_4{background-color: var(--color_4);}

//
.color_edit{
    margin:5px;
    border-radius: 50%;
    width:70px;
    height:70px;
    border:1px solid var(--white-4);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.color_edit:hover{
    .color_edit_icon{display: block;}
}
.color_edit_icon{
    display:none;
    position: absolute;
    background-color: var(--white-1);
    color:var(--txt-1);
    opacity: .3;
    border-radius: 50%;
    font-size: 1.5em;
    padding:10px;
}
.color_theme{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    position: relative;
    box-sizing: border-box;
    padding:10px;
    width:calc(50% - 20px);
    border-radius: 5px;
    border:1px solid var(--white-3);
    margin:10px;
    cursor: pointer;
    overflow: hidden;
}
.color_theme_check{
    margin-inline-end:7px;
    font-size: 1.2em;
}
.default_color_theme{
    background-color: var(--default_color_theme_bg);
    color: var(--default_color_theme_txt);
}
.color_1_2{background-color: var(--color_1);color:var(--color_2);}
.color_1_3{background-color: var(--color_1);color:var(--color_3);}
.color_1_4{background-color: var(--color_1);color:var(--color_4);}

.color_2_1{background-color: var(--color_2);color:var(--color_1);}
.color_2_3{background-color: var(--color_2);color:var(--color_3);}
.color_2_4{background-color: var(--color_2);color:var(--color_4);}

.color_3_1{background-color: var(--color_3);color:var(--color_1);}
.color_3_2{background-color: var(--color_3);color:var(--color_2);}
.color_3_4{background-color: var(--color_3);color:var(--color_4);}

.color_4_1{background-color: var(--color_4);color:var(--color_1);}
.color_4_2{background-color: var(--color_4);color:var(--color_2);}
.color_4_3{background-color: var(--color_4);color:var(--color_3);}

///
.color_palette_preview{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin:10px;
    cursor: pointer;
    box-sizing: border-box;
    border:1px solid var(--white-4);
    border-radius: 5px;
    overflow: hidden;
}
.color_palette_preview_color{
    height:35px;
    width:35px;
    position: relative;
    box-sizing: border-box;
}
