
@font-face {
    font-family: 'inter';
    src: url('/storage/fonts/inter.ttf') format("truetype");
}
@font-face {
    font-family: 'Nunito';
    src: url('/storage/fonts/Nunito.ttf') format("truetype");
}
@font-face {
    font-family: 'rubik';
    src: url('/storage/fonts/rubik.ttf') format("truetype");
}
@font-face {
    font-family: 'signikaNegative';
    src: url('/storage/fonts/signikaNegative.ttf') format("truetype");
}
@font-face {
    font-family: 'playfairDisplay';
    src: url('/storage/fonts/playfairDisplay.ttf') format("truetype");
}

