
.font_style_pack_loading{
    margin:20px 10px;
    padding:10px;
    box-sizing: border-box;
    border:1px solid var(--white-3);
    border-radius: 5px;
    overflow: hidden;
}
.font_style_pack{
    margin:20px 10px;
    padding:10px;
    box-sizing: border-box;
    border:1px solid var(--white-3);
    border-radius: 5px;
    overflow: hidden;
}
.font_style_pack_change:hover{
    box-shadow: 0 0 15px var(--shdw-10);
}
//
.font_settings_row{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid var(--white-2);
    padding:5px;
}
.font_settings_row:hover{background-color: var(--white-2);}
//
