
.font_t{
    font-family: var(--font_t);
}
.font_p{
    font-family: var(--font_p);
}
.font_style_pack{
    margin:20px 10px;
    padding:10px;
    box-sizing: border-box;
    border:1px solid var(--white-4);
    border-radius: 5px;
    overflow: hidden;
}
//
@font-face {
    font-family: 'Tajawal';
    src: url('/storage/fonts/ar/Tajawal.ttf') format("truetype");
}
@font-face {
    font-family: 'cairo';
    src: url('/storage/fonts/ar/cairo.ttf') format("truetype");
}
//
@font-face {
    font-family: 'inter';
    src: url('/storage/fonts/en/inter.ttf') format("truetype");
}
@font-face {
    font-family: 'Nunito';
    src: url('/storage/fonts/en/Nunito.ttf') format("truetype");
}
@font-face {
    font-family: 'rubik';
    src: url('/storage/fonts/en/rubik.ttf') format("truetype");
}
@font-face {
    font-family: 'signikaNegative';
    src: url('/storage/fonts/en/signikaNegative.ttf') format("truetype");
}
@font-face {
    font-family: 'playfairDisplay';
    src: url('/storage/fonts/en/playfairDisplay.ttf') format("truetype");
}

